.PageSerebrica
    &_section
        &-thumb
            background-size cover
            background-repeat no-repeat
            background-position center center
            background-attachment fixed

        &-white
            background url('../img/serebrica/bg-white.jpg') center/cover no-repeat
        
        &-fonts
            height 1150px
            padding-top 1px
            padding-bottom 1px

            @media $xs
                height 716px
        &-thumbFirst
            min-height 675px
            background-image url('../img/upload/serebrica-thumb.jpg');

            @media $sm
                min-height 526px

            @media $xs
                min-height 644px

        &-thumbSecond
            min-height 831px
            background-image url('../img/upload/serebrica-thumb-2.jpg');

            @media $smMinus
                min-height 480px

            @media $xs
                min-height 254px

        &-thumbThree
            background-image url('../img/upload/serebrica-thumb-3.jpg')

        &-genplan
            height 1200px

            @media $smMinus
                height 650px

            @media $xs
                height 374px

            & .LeafDesc
                position absolute
                bottom -100px
                left 160px

                @media $smMinus
                    bottom -70px
                    left 110px

                @media $xs
                    bottom: -45px
                    left: 73px

        &-fullScreen
            height 1250px
            position relative

            @media $smMinus
                height 683px

            @media $xs
                height 350px

        &-desktops
            height 3170px
            padding-top 1px
            overflow hidden

            @media $smMinus
                height: 1986px

            @media $xs
                height 1440px

        &-arrow
            height 550px
            display flex
            justify-content center
            align-items center

    &_thumbPattern
        width 283px
        margin-bottom auto
        flex-shrink 0

        @media $smMinus
            width 132px

            & .PatternSvg
                height: 272px

        @media $xs
            display none

    &_thumbContent
        max-width 910px
        margin 0 auto
        display flex
        justify-content space-between
        align-items center

        @media $sm
            max-width 510px

        @media $xs
            max-width 260px

    &_thumbText
        width 525px
        color #fff
        
        font-weight 500
        font-family 'Gilroy'
        line-height 1.3
        
        @media $mdPlus
            font-size 15px
            padding-top 0
            padding-bottom 128px

        @media $sm
            width 338px
            padding-top 20px
            font-size 14px

        @media $xs
            font-size 14px
            padding-top 30px
            line-height 1.5

            & br
                display none

        &-decorate
            text-align right
            padding-right 45px
            position relative
            margin-right 70px

            @media $mdMinus
                margin-right 130px

            @media $smMinus
                margin-right 60px

            @media $xs
                padding-top 0
                font-size 12px
                padding-right 20px
                margin-top 40px
            &:after
                content ''
                display block
                position absolute
                right 0
                top 0
                width 26px
                height 70px
                background url('../img/serebrica/decorate-leaf.svg') center/contain no-repeat

                @media $xs
                    width 13px
                    height 35px


    &_thumbTextTitle
        font-size 20px
        margin-bottom 20px
        font-family 'Gotham Pro'

        @media $smMinus
            font-size 16px
            margin-bottom 5px

        @media $xs
            font-size 14px
 
    &_MacOSTab
        &-intro
            max-width 910px
            margin 0 auto
            margin-top -240px
            position relative
            z-index 5

            @media $smMinus
                max-width 600px
                margin-top -150px

            @media $xs
                max-width 280px
                margin-top -90px

        &-flats
            max-width 910px
            margin 0 auto
            bottom: -90px
            position relative
            z-index 5

            @media $smMinus
                max-width 600px
                bottom -60px

            @media $xs
                max-width 280px
                bottom -12px

        &-genplan
            max-width 910px
            margin 0 auto
            top: -350px

            @media $smMinus
                max-width 600px
                top -260px

            @media $xs
                max-width 280px
                top -90px

        &-full
            max-width 910px
            margin 0 auto
            position relative
            z-index 5

            @media $smMinus
                max-width 450px

            @media $xs
                max-width 230px

            & .LeafDesc
                position absolute
                top -90px
                right 0

                @media $xs
                    top -35px
        &-fullLeft
            max-width 750px
            position absolute
            left 0
            @media $mdMinus
                max-width 663px

            @media $smMinus
                max-width 300px
                display none

            @media $xs
                display none
        &-fullRight
            max-width 807px
            position absolute
            right 0
            @media $mdMinus
                max-width 663px

            @media $smMinus
                max-width 300px
                display none

            @media $xs
                display none
        &-fullFirst
            top 10%
            z-index 3

            @media $smMinus
                top 70%
        &-fullTwo
            top 26%
            z-index 3
        &-fullThree
            top 55%
            z-index 6

            @media $smMinus
                top 52%
        &-fullFour
            top 80%
            z-index 6

    &_fontColorBlock
        max-width 910px
        margin 134px auto 0
        display flex

        @media $smMinus
            max-width 600px
            flex-direction column
            margin-top 90px

        @media $xs
            max-width 260px
            margin-top 40px

    &_fontColorLeft
        width 34%

        @media $smMinus
            width 100%
            display flex
            flex-wrap wrap
            margin-bottom 70px

        @media $xs
            display block
            margin-bottom 20px

    &_fontColorRight
        width 66%

        @media $smMinus
            width 100%

    &_fontColorBlockTitleText
        font-size 20px
        font-weight 600
        color #3b3b3b
        margin-bottom 53px

        @media $xs
            margin-bottom 30px

    &_fontColorBlockTitle
        @media $smMinus
            width 100%

    &_colorItem
        width 90px
        height 90px
        border-radius: 50%
        display flex
        align-items center
        justify-content center
        background-color #000
        box-shadow: 0px 0px 0px 15px rgba(#000 ,0.2);
        color #fff
        font-size 14px

        @media $xs
            width 40px
            height 40px
            box-shadow: 0px 0px 0px 5px rgba(#000 ,0.2);
            font-size 8px

        &-red
            background-color #8f3149
            box-shadow: 0px 0px 0px 15px rgba(#8f3149 ,0.2);

            @media $xs
                box-shadow: 0px 0px 0px 5px rgba(#8f3149 ,0.2);
        &-green
            background-color #859938
            box-shadow: 0px 0px 0px 15px rgba(#859938 ,0.2);

            @media $xs
                box-shadow: 0px 0px 0px 5px rgba(#859938 ,0.2);
        &-purple
            background-color #9893c0
            box-shadow: 0px 0px 0px 15px rgba(#9893c0 ,0.2);

            @media $xs
                box-shadow: 0px 0px 0px 5px rgba(#9893c0 ,0.2);
        &-yellow
            background-color #c7c554
            box-shadow: 0px 0px 0px 15px rgba(#c7c554 ,0.2);

            @media $xs
                box-shadow: 0px 0px 0px 5px rgba(#c7c554 ,0.2);
            

    &_fontRow
        margin-bottom 20px

        @media $smMinus
            width 50%
            padding-right 10px

        @media $xs
            width 100%
            margin-bottom 35px
        &-gotham
            font-family 'Gotham Pro'
            color #8f3149
            & .PageSerebrica_fontName
                font-weight 600
        &-verdana
            font-family 'Verdana'
            color #879837

    &_fontName
        font-size 40px
        margin-bottom 10px

        @media $xs
            font-size 30px

    &_fontTypes
        display flex

    &_fontItem
        margin-right 14px
        font-size 14px

        &-regular
            font-weight 400
        &-medium
            font-weight 500
        &-bold
            font-weight 600

    &_colorList
        display flex
        justify-content space-between
        margin-bottom 35px

    &_colorLeaf
        display flex
        justify-content space-between
        font-family 'Gotham Pro'
        font-weight 500
        font-size 14px

        @media $xs
            font-size 12px

    &_colorLeafSvg

        @media $xs
            padding-right 5px
        & svg
            @media $xs
                width 100%

    &_fullTabs
        width 1790px
        margin 0 auto
        position absolute
        transform translate(-50%, 0)
        top -700px
        left 50%

        @media $mdMinus
            top: -742px

        @media $smMinus
            top -280px

        @media $xs
            top -90px

    &_desktops
        margin 0 auto
        margin-top  400px
        width 100%
        display flex
        justify-content space-between
        align-items center
        position relative
        left 0
        right 0

        @media $mdMinus
            margin-top 300px

        @media $smMinus
            display none

    &_desktopItem
        width 437px
        margin-right 40px
        flex-shrink: 0
        
    &_desktopItemimg
        width 100%

    &_desktopFull
        position absolute
        width 1000px
        transform translate(-50%, 0)
        left 50%
        top -20%

        & .LeafDesc
            position absolute
            left 170px
            top -80px

    &_desktopFullImg
        width 100%

    &_desktopFullDesc
        text-align center
        margin-top 15px
        color 
        font-family 'Gotham Pro'
        font-size 16px
        font-weight 500

    &_adaptive
        max-width 710px
        margin 0 auto
        margin-top 500px
        position relative
        min-height 462px
        display flex
        justify-content center
        align-items center

        @media $mdMinus
            margin-top 600px

        @media $smMinus
            margin-top 300px

        @media $xs
            max-width 280px
            min-height 180px
            margin-top 200px

        & .LeafDesc
            position absolute
            right 0
            top -100px

            @media $smMinus
                right 60px

            @media $xs
                right 25px
                top -60px

    &_adaptiveCircle
        width 400px
        height 400px
        margin 0 auto
        border-radius 50%
        box-shadow: 0px 0px 0px 25px rgba(#859938 ,0.2);
        background-size cover
        background-repeat no-repeat
        background-position  center
        background-attachment fixed

        @media $xs
            width 160px
            height 160px

    &_adaptivePhones
        position absolute
        top 0
        width 100%
        display flex
        justify-content space-between
        align-items center

    &_adaptivePhoneItem
        width 222px

        &-center
            width 282px

    &_adaptivePhoneImg
        width 100%

    &_arrow
        display flex
        justify-content center
        align-items center
        margin-top 200px

        @media $mdMinus
            margin-top 300px

        @media $smMinus
            margin-top 200px

        @media $xs
            margin-top 100px

        & .ArrowPage
            max-width 925px

    &_adaptiveDesc
        width 100%
        text-align center
        position absolute
        bottom -40px
        font-family 'Gotham Pro'
        font-weight 500
        color #4b4b4c

        @media $xs
            font-size 12px

    &_styleGuide
        max-width 910px
        margin 0 auto
        margin-top 300px

        @media $mdMinus
            margin-top 200px

        @media $smMinus
            max-width 600px

        @media $xs
            max-width 280px

        @media $xs
            margin-top 100px

    &_styleGuideBlock
        display flex

        @media $xs
            flex-direction column

    &_styleGuideLeft
        width 60%

        @media $smMinus
            width 70%
        
        @media $xs
            width 100%
    
    &_styleGuideRight
        width 40%
        display flex
        flex-direction column
        align-items flex-end
        justify-content space-between

        @media $smMinus
            width 30%

        @media $xs
            width 100%
            margin-top 30px
            align-items center

    &_styleGuideTitle
        margin-bottom 130px

        @media $smMinus
            margin-bottom 80px

        @media $xs
            margin-bottom 40px

    &_styleGuideControls
        display: flex;
        justify-content: space-between;
        align-items center

    &_guideBtn
        padding 20px 55px
        color #ffffff
        background-color #9893c0
        box-shadow 7px -7px rgba(#9893c0 ,0.3);
        transition 0.2s

        @media $xs
            padding 10px 20px
            font-size 10px

        &:hover
            box-shadow 0 0 rgba(#9893c0 ,0.3);

    &_guideMarker
        display flex
        align-items center

        @media $xs
            margin-right 20px

    &_guideMarkerNum
        width 65px
        height 65px
        border-radius 50%
        background-color #c43f60
        color #fff
        border 8px solid #f9d6df;
        display flex
        justify-content center
        align-items center
        position relative
        z-index 3

        @media $xs
            width 35px
            height 35px
            border 3px solid #f9d6df;

    &_guideMarkerDesc
        padding-left 20px
        padding-right 30px
        height 35px
        background-color #fff
        color #c43f60
        margin-left -10px
        display flex
        align-items center
        position relative

        @media $xs
            height 20px
            font-size 12px
            padding-right 15px

        &:after
            content: ''
            position: absolute
            display: block
            height: 100%
            width: 16px
            right: -15px
            top: 0
            background: url('../img/serebrica/marker_ribbon_corner.svg') center no-repeat
            background-size: 100% 100%

    &_guideTile
        width 100%
        margin-top 140px
        border-radius 3px
        box-shadow: 0px -1px 96px 0px rgba(0,0,0,0.08);
        position relative

        @media $xs
            margin-top 60px
        

    &_guideTileImg
        width 100%

    &_guideItem
        width 140px
        display flex
        align-items center
        justify-content center

        @media $smMinus
            width 120px

        @media $xs
            margin-bottom 40px

        &-leaf
            & .PageSerebrica_guideItemImg
                width 50%
                margin 0 auto

    &_guideItemImg
        width 100%

    &_guideTileBird
        width 36px
        height 38px
        position absolute
        right 0
        top -38px
        right 0
        z-index 5

        @media $xs
            width 18px
            height 19px
            top -19px

    &_guideTileBirdImg
        width 100%
        