.PageFontan

    &_section
        &-blue
            background #334772 url('../img/bg/texture-blue.jpg') center/cover no-repeat
        &-map
            background #334772 url('../img/bg/blue-map.jpg') center/cover no-repeat
        &-grey
            background #f1f1f1 url('../img/bg/texture-grey.jpg') center/cover no-repeat
        &-foreWord
            padding 0 121px
            padding-top 181px
            min-height 964px
            @media $mdMinus
                padding 70px 0
                min-height 800px
            @media $smMinus
                min-height 581px

            @media $xs
                padding 35px 0
                min-height 330px
        &-watercolor
            min-height 1163px
            position relative
            display flex
            flex-direction column
            justify-content space-between
            align-items center

            @media $smMinus
                min-height 921px
            
            @media $xs
                min-height 391px

        &-map
            height 1050px
            @media $mdMinus
                height 950px
            
            @media $xs
                height 307px
        &-fullScreen
            height 1072px
            position relative

            @media $smMinus
                height 500px

            @media $xs
                height 270px
        &-fullBottom
            height 1100px
            @media $mdMinus
                height 730px
            
            @media $smMinus
                height 550px

            @media $xs
                height 270px
        &-thumb
            background-repeat no-repeat
            background-position center
            background-size cover
            height 750px

            @media $smMinus
                height 407px

            @media $xs
                height 184px
        
        &-phones
            min-height 1200px
            padding-top 1px

            @media $mdMinus
                min-height 1021px

            @media $smMinus
                min-height 660px

            @media $xs
                height 1375px
        
        &-arrow
            height 640px
            display flex
            align-items center
            justify-content center

            @media $mdMinus
                height 310px

            @media $smMinus
                height 203px
            
            @media $xs
                height 120px
    &_splatter
        width 100%
        &-top
            max-width 1158px

            @media $mdMinus
                max-width 950px

            @media $smMinus
                max-width 640px

            @media $xs
                max-width 300px
        &-bottom
            max-width 1326px
            @media $xs
                max-width 300px

    &_sectionDesc
        color #fff
        max-width 780px
        margin 0 auto
        font-family 'MarckScript', sans-serif
        text-align center
        line-height 1.4

        @media $smMinus
            max-width 544px
            font-size 16px

        @media $xs
            max-width 242px
            font-size 12px

    &_sectionDescLeaf
        color #cf8769
        width 91px
        margin 0 auto

        @media $xs
            width 51px
        &-top
            margin-bottom 58px
            @media $smMinus
                margin-bottom 48px

            @media $xs
                margin-bottom 26px
        &-bottom
            margin-top 58px
            @media $smMinus
                margin-top 48px
            
            @media $xs
                margin-top 26px
    
    &_MacOSTab
        &-intro
            max-width 910px
            margin 161px auto -180px
            position relative
            z-index 5
            @media $mdMinus
                margin-top 80px
                // margin-bottom -200px
            
            @media $smMinus
                max-width 600px
            
            @media $xs
                max-width 230px
                margin-bottom -105px
        &-map
            max-width 910px
            margin -210px auto 0
            position relative
            z-index 5

            @media $smMinus
                max-width 600px
                margin: -100px auto 0

            @media $xs
                max-width 230px
                margin: -50px auto 0
        &-full
            max-width 910px
            margin 0 auto
            position relative
            z-index 5
            @media $mdMinus
                max-width 700px

            @media $smMinus
                max-width 450px

            @media $xs
                max-width 230px
        &-fullLeft
            max-width 750px
            position absolute
            left 0
            @media $mdMinus
                max-width 600px

            @media $smMinus
                max-width 300px

            @media $xs
                display none
        &-fullRight
            max-width 807px
            position absolute
            right 0
            @media $mdMinus
                max-width 600px

            @media $smMinus
                max-width 300px

            @media $xs
                display none
        &-fullFirst
            top 10%
            z-index 3

            @media $smMinus
                top 70%
        &-fullTwo
            top 26%
            z-index 3
        &-fullThree
            top 55%
            z-index 6

            @media $smMinus
                top 52%
        &-fullFour
            top 80%
            z-index 6

    &_fontColorBlock
        width 82%
        max-width 910px
        display flex
        @media $smMinus
            max-width 600px

        @media $xs
            max-width 200px

    &_fullTabs
        max-width 1680px
        width 93%
        margin 0 auto
        position absolute
        transform translate(-50%, 0)
        top -100px
        left 50%

        @media $mdMinus
            max-width 1280px

        @media $smMinus
            max-width 728px

        @media $xs
            top -40px


    &_fontColorLeft
        width 40%
        padding-right 30px

        @media $smMinus
            width 60%

        @media $xs
            width 100%
            text-align center
            padding-right 0
    &_fontColorRight
        width 60%

        @media $smMinus
            width 40%

        @media $xs
            display none

    &_fontColorBlockTitle
        font-family 'MarckScript'
        color #ffffff
        font-size 20px
        max-width 136px
        position relative
        background-size contain
        background-position center
        background-repeat no-repeat
        min-height 78px
        display flex
        align-items center
        justify-content center
        margin-bottom 53px
        &-fonts
            background-image url('../img/fontan/title-fontan_font.png')
            padding-right 25px

            @media $xs
                padding-right 0
                margin 0 auto 24px
                max-width 100px
                font-size 15px
                padding-right 13px
        &-colors
            background-image url('../img/fontan/title-fontan_color.png')
            padding-right 10px

    &_fontRow
        margin-bottom 15px
        &-museo
            color #3a4f7a
            font-family 'MuseoCyrl'
            & .PageFontan_fontName
                font-size 50px
                font-weight bold

                @media $smMinus
                    font-size 35px

                @media $xs
                    font-size 20px
            & .PageFontan_fontItem

                @media $xs
                    font-size 12px
                &-100
                    font-weight 100
                &-300
                    font-weight 300
                &-500
                    font-weight 500
                &-700
                    font-weight 700
                &-900
                    font-weight 900
        &-avenir
            color #cf8769
            font-family 'AvenirNext'
            & .PageFontan_fontName
                font-size 35px
                font-weight 500
                @media $xs
                    font-size 20px
            & .PageFontan_fontItem
                @media $xs
                    font-size 12px
                &-regular
                    font-weight normal
                &-medium
                    font-weight 500
                &-demi
                    font-weight 600
                &-bold
                    font-weight bold
    &_fontName
        margin-bottom 5px

        @media $xs
            margin-bottom 15px

    &_fontTypes
        display flex
        @media $xs
            justify-content space-between
    &_fontItem
        margin-right 10px

        @media $xs
            margin-right 0

    &_colorList
        display flex
        @media $smMinus
            flex-wrap wrap
            justify-content space-between
    &_colorItem
        font-family 'MarckScript'
        color #fff
        font-size 26px
        font-weight normal
        letter-spacing 2px
        width 147px
        height 157px
        overflow hidden
        background-size contain
        background-repeat no-repeat
        background-position center
        position relative

        @media $smMinus
            width 95px
            height 122px
            font-size 19px
        &-blueLight
            background-image url('../img/fontan/color_light-blue.png')
        &-blue
            background-image url('../img/fontan/color_blue.png')
        &-white
            background-image url('../img/fontan/color_white.png')
            color #3a4f7a
        &-brown
            background-image url('../img/fontan/color_brown.png')

    &_colorItemText
        width 90px
        height 20px
        position absolute
        transform-origin: center
        transform translate(50%, -50%) rotate(50deg)
        top: 43%
        left: -21%

        @media $smMinus
            top 52%
            left -45%
    &_mapLogo
        width 90px
        margin 140px auto 0
        display block
        @media $mdMinus
            width 65px
            margin-top 80px
            margin-bottom 92px

        @media $smMinus
            margin-top 175px

        @media $xs
            width 48px
            margin-top 15px

    &_phoneItem
        max-width 490px
        width 48%
        position relative

        @media $mdMinus
            max-width 391px

        @media $smMinus
            width 249px
        &-left
            top -250px

            @media $mdMinus
                top -193px

            @media $smMinus
                top -67px

            @media $xs
                top auto
        
        &-right
            top -100px
            @media $mdMinus
                top 55px

            @media $smMinus
                top 131px

            @media $xs
                top auto
        &-bgTop
            & .PageFontan_phoneBg
                bottom auto
                top 0
    
    &_phoneBg
        width 100%
        position absolute
        bottom 15%
        z-index auto
    
    &_phoneImg
        width 100%
        position relative
        z-index 1

    &_phoneList
        max-width 1200px
        width 90%
        margin 0 auto 0

        @media $mdMinus
            max-width 901px

        @media $smMinus
            max-width 600px

        @media $xs
            top -60px
            position relative

    &_phoneRow
        display flex
        justify-content space-between
        flex-wrap wrap
        position relative

        @media $xs
            flex-direction column
            align-items center