extends /layouts/main_layout
block vars
	- var title = "О нас";
	- var bodyClass = "Body-pageAbout";
block content
	.AboutUs
		.CompanyBlock.AboutUs_companyBlock
			.CompanyBlock_logo
				include includes/blocks/SvgIco/company_logo
			h2.CompanyBlock_title Синий Муравей
			.CompanyBlock_description Удобные адаптивные сайты. Безупречная#[br] архитектурная 3D-визуализация
		.Theses
			.Thesis.Thesis-right.Thesis-blueant.Theses_item
				.Thesis_main
					.Thesis_header
						.Thesis_number 01
						h3.Thesis_title СОЗДАЕМ ИНСТРУМЕНТЫ ДЛЯ БИЗНЕСА
					.Thesis_body!= '<span class="Thesis_keyword">С 2010 года</span> разрабатываем сайты и проекты по архитектурной 3D-визуализации, которые помогают застройщикам увеличивать продажи. Клиенты выбирают нас за высокое качество продукта, знание рынка и профессионализм в ведении проектов. На нашем счету более 100 работ для ведущих компаний: «Сити XXI век», «Эталон-Инвест», ФСК «Лидер», «Лидер-Инвест», SMINEX, «НДВ-Недвижимость» и многих других.'
				.Thesis_photos
					ul.Thesis_photos-list.Thesis_photos-listFull
						img.Thesis_photoFull(src="./img/thesis_full.jpg")
			.Thesis.Thesis-creature.Theses_item
				.Thesis_main
					.Thesis_header
						.Thesis_number 02
						h3.Thesis_title РАЗРАБАТЫВАЕМ САЙТЫ, ДОСТИГАЮЩИЕ ЦЕЛЕЙ
					.Thesis_body!= '<span class="Thesis_keyword">Мы хорошо понимаем</span> специфику рынка недвижимости, знаем, как привлекать покупателей недвижимости разных классов, и сочетаем эти знания с веб-аналитикой, качественным дизайном и современными технологиями разработки. Результатом такого подхода становятся удобные адаптивные сайты, которые эффективно решают маркетинговые задачи застройщиков.'
				.Thesis_photos
					ul.Thesis_photos-list
						li.Thesis_photo
							img(src="img/thesis_2_2.jpg")
						li.Thesis_photo
							img(src="img/thesis_2_2.jpg")
						li.Thesis_photo
							img(src="img/thesis_2_3.jpg")
						li.Thesis_photo
							img(src="img/thesis_2_4.jpg")
				.Thesis_caption МАСШТАБ 1:10
			.Thesis.Thesis-right.Thesis-development.Thesis-yellow.Theses_item
				.Thesis_main
					.Thesis_header
						.Thesis_number 03
						h3.Thesis_title ВПЕЧАТЛЯЕМ ПОКУПАТЕЛЕЙ НЕДВИЖИМОСТИ
					.Thesis_body!= '<span class="Thesis_keyword">Наши сайты</span> переносят покупателей в будущее, где дома уже построены и в них налажена комфортная счастливая жизнь. За это отвечает наша команда архитектурной 3D-визуализации, на счету которой десятки эффектных работ и профильные награды. Чтобы наши рендеры не уступали по качеству профессиональным фотографиям, мы тщательно работаем над композицией кадра, настраиваем освещение и детализируем окружение.'
				.Thesis_photos
					ul.Thesis_photos-list
						li.Thesis_photo
							img(src="img/thesis_3_1.jpg")
						li.Thesis_photo
							img(src="img/thesis_3_1.jpg")
			.Thesis.Thesis-help.Theses_item
				.Thesis_main
					.Thesis_header
						.Thesis_number 04
						h3.Thesis_title РАЗВИВАЕМ ПРОЕКТЫ
					.Thesis_body!= '<span class="Thesis_keyword">Качественная поддержка сайта</span> – залог того, что он всегда будет приносить пользу бизнесу. В нашем веб-бюро долгосрочное развитие проектов является полноценным направлением работы, в рамках которой мы постоянно анализируем эффективность сайта и внедряем необходимые улучшения. У нас есть проекты, которые мы успешно развиваем уже более 5 лет.'
				.Thesis_photos
					ul.Thesis_photos-list
						li.Thesis_photo
							img(src="img/thesis_4_2.jpg")
						li.Thesis_photo
							img(src="img/thesis_4_2.jpg")
						li.Thesis_photo
							img(src="img/thesis_4_3.jpg")
						li.Thesis_photo
							img(src="img/thesis_4_4.png")
				.Thesis_caption НА ПОДДЕРЖКЕ : 24 САЙТА
			.Thesis.Thesis-blue.Thesis-logos.Theses_item
				.Thesis_main
					.Thesis_header
						.Thesis_number 05
						h3.Thesis_title НАШИ КЛИЕНТЫ
					.Thesis_logos
						.Thesis_logoCol
							a(href="#").Thesis_logo
								img.Thesis_logoPic(src="/img/partner_logo/lsr.svg")
							a(href="#").Thesis_logo
								img.Thesis_logoPic(src="/img/partner_logo/rdi.svg")
							a(href="#").Thesis_logo
								img.Thesis_logoPic(src="/img/partner_logo/stone.svg")
							a(href="#").Thesis_logo
								img.Thesis_logoPic(src="/img/partner_logo/etalon.svg")
							a(href="#").Thesis_logo
								img.Thesis_logoPic(src="/img/partner_logo/flatco.svg")
						.Thesis_logoCol
							a(href="#").Thesis_logo
								img.Thesis_logoPic(src="/img/partner_logo/lider.svg")
							a(href="#").Thesis_logo
								img.Thesis_logoPic(src="/img/partner_logo/estatet.svg")
							a(href="#").Thesis_logo
								img.Thesis_logoPic(src="/img/partner_logo/city21.svg")
							a(href="#").Thesis_logo
								img.Thesis_logoPic(src="/img/partner_logo/ndv.svg")
							a(href="#").Thesis_logo
								img.Thesis_logoPic(src="/img/partner_logo/lider-invest.png")
						.Thesis_logoCol
							a(href="#").Thesis_logo
								img.Thesis_logoPic(src="/img/partner_logo/kr-pro.svg")
							a(href="#").Thesis_logo
								img.Thesis_logoPic(src="/img/partner_logo/urban.svg")
							a(href="#").Thesis_logo
								img.Thesis_logoPic(src="/img/partner_logo/sminex.svg")
							a(href="#").Thesis_logo
								img.Thesis_logoPic(src="/img/partner_logo/rusich.svg")
							a(href="#").Thesis_logo
								img.Thesis_logoPic(src="/img/partner_logo/ikea.png")
	.Contacts.hidden-smMinus.compensate-for-scrollbar
		.swiper-container.SwiperEmployees
			.swiper-wrapper.SwiperEmployees_wrapper
				.swiper-slide.SwiperEmployees_slide
					.SwiperEmployees_photo(style="background-image: url('img/vanya.jpg')")
					.SwiperEmployees_info
						.SwiperEmployees_post Генеральный директор
						.SwiperEmployees_name Куксин Иван Сергеевич
				//- .swiper-slide.SwiperEmployees_slide
				//- 	.SwiperEmployees_photo(style="background-image: url('img/vanya.jpg')")
				//- 	.SwiperEmployees_info
				//- 		.SwiperEmployees_post Генеральный директор 2
				//- 		.SwiperEmployees_name Куксин Иван Сергеевич 2
				//- .swiper-slide.SwiperEmployees_slide
				//- 	.SwiperEmployees_photo(style="background-image: url('img/vanya.jpg')")
				//- 	.SwiperEmployees_info
				//- 		.SwiperEmployees_info-wrapper
				//- 			.SwiperEmployees_post Генеральный директор 3
				//- 			.SwiperEmployees_name Куксин Иван Сергеевич 3
			.SwiperEmployees_bottom
				//- .SwiperEmployees_arrows
				//- 	.swiper-button-prev.SwiperEmployees_prev
				//- 		include includes/svg/SvgIco/arrow_prev
				//- 	.swiper-button-next.SwiperEmployees_next
				//- 		include includes/svg/SvgIco/arrow_next
		.SocIcons
			ul.SocIcons_list
				li.SocIcons_item.SocIcons_item-fb
					a(href="https://www.facebook.com/vbblueant/", target="_blank" title="Facebook").SocIcons_link
						include includes/svg/SvgIco/fb
				li.SocIcons_item.SocIcons_item-telegram
					a(href="https://vc.ru/u/177381-ivan-kuksin", target="_blank" title="vc.ru").SocIcons_link
						include includes/svg/socials/vc.svg
				li.SocIcons_item.SocIcons_item-vk
					a(href="https://www.behance.net/blue-ant", target="_blank" title="Behance").SocIcons_link
						include includes/svg/socials/behance.svg
				li.SocIcons_item.SocIcons_item-instagram
					a(href="https://www.instagram.com/blue_ant_3d/", target="_blank" title="Instagram").SocIcons_link
						include includes/svg/SvgIco/instagram
block page_bottom
	script(src="/js/about_us.js")