extends /layouts/main_layout
block vars
	- var title = "Проект «Серебрянный Фонтан»";
block content
	main.FeaturePageLayout
		section.FeaturePageLayout_primary
			.FeaturePromo
				.FeaturePromo_textWrap
					h1.FeaturePromo_title Мы — #[strong серебряный] #[br.hidden-sm.hidden-md.hidden-lg] дилер HostCMS
					.FeaturePromo_desc
						p Разрабатываем сайты именно на этой системе управления уже #[strong более 8 лет]. Мы выбрали HostCMS, потому что считаем её наиболее удобным, надежным, производительным и экономически выгодным вариантом для наших клиентов. Еще один важный пункт — это быстрая разработка, которую ценим и мы и заказчики.
				.FeaturePromo_picWrap
					.MacOSTab
						.MacOSTab_panel
							.MacOSTab_panelDot.MacOSTab_panelDot-red
							.MacOSTab_panelDot.MacOSTab_panelDot-yellow
							.MacOSTab_panelDot.MacOSTab_panelDot-green
						img.MacOSTab_screen(src="/img/hostcms_dashboard_screenshot.jpg" alt="")
		aside.FeaturePageLayout_secondary
			.FeaturePageLayout_secondScroller
				.FeatureText
					h2 Почему HostCMS — это хорошо?
					p У HostCMS логичный и понятный адаптивный интерфейс администрирования. Внутри всё разделено на три части:
					ul
						li Функциональная
						li Контентная
						li Внешняя оболочка
					p Такое разделение позволяет вносить любые изменения без риска для работоспособности сайта и четко, без дополнительных хитростей и усилий разделять роли пользователей.
					h2 Несколько уровней защиты.
					blockquote Если какой-то элемент был удален, его всегда можно восстановить из промежуточной “корзины”, куда автоматически попадают все удаленные элементы.
					blockquote Для управления контентом есть встроенная система контроля версий. Она дает возможность в любой момент откатить изменения и вернуться к нужному варианту. 
					p С HostCMS вы надежно застрахованы от ошибок, вызванных человеческим фактором. Практически любое действие администратора обратимо и всё можно оперативно исправить.
			.FeaturePageLayout_secondBottom
				a(href="/contacts.html").Btn.Btn-forFeatureDescBlock Оставить заявку
block page_bottom
	script(src="/js/cms.js")