extends /layouts/main_layout
block vars
	- var title = "Свяжитесь с нами";
block content
	.ContactsPageLayout
		.ContactsPageLayout_map
			.GeoMap#map
		.ContactsPageLayout_contacts
			.ContactsList
				.ContactsList_addresses
					address.ContactsList_item
						strong.ContactsList_title Телефон
						a(href="tel:+74957551214").ContactsList_value +7 495 755-12-14
					address.ContactsList_item
						strong.ContactsList_title Почта
						a(href="mailto:info@blue-ant.ru").ContactsList_value info@blue-ant.ru
					address.ContactsList_item
						strong.ContactsList_title Адрес
						span.ContactsList_value Звёздный б-р, д. 19, стр. 1, оф. 1105, г. Москва, 129085
				.ContactsList_socialIcons
					a.ContactsList_socIco(href="https://www.facebook.com/vbblueant/", target="_blank")
						include /includes/blocks/SvgIco/facebook.svg
					.ContactsList_socDivider
					a.ContactsList_socIco.ContactsList_socIco-vc(href="https://vc.ru/u/177381-ivan-kuksin" target="_blank")
						include /includes/svg/socials/vc.svg
					.ContactsList_socDivider
					a.ContactsList_socIco(href="https://www.behance.net/blue-ant" target="_blank")
						include /includes/svg/socials/behance.svg
					.ContactsList_socDivider
					a.ContactsList_socIco(href="https://www.instagram.com/blue_ant_3d/", target="_blank")
						include /includes/blocks/SvgIco/instagram_solid.svg

		.ContactsPageLayout_form
			form.Form.Form-contactUs(autocomplete="off" method="get" action="/ajax/form-response.json")
				h3.Form_title Начать проект
				.Form_layout.clearfix
					.Form_group.Form_group-n3
						textarea.Form_control(placeholder="Сообщение" name="message")
					.Form_group.Form_group-n1
						input.Form_control(placeholder="Ваше имя" required="required" name="name")
						span.Form_requiredMark
					.Form_group.Form_group-n2
						input.Form_control(placeholder="Ваш Email" required="required" name="email" type="email")
						span.Form_requiredMark
					.Form_group.Form_group-captcha.Form_group-n4
						img.Form_captcha(src="/tmp/120x50.png")
						input.Form_control(placeholder="символы с картинки" required="required" size="4" name="captcha")
						span.Form_requiredMark
					.Form_group.Form_group-n5
						button.Form_btn
							include /includes/blocks/SvgIco/arrowRight.svg
				.Form_reqHint
					span.Form_requiredMark
					span.Form_reqTextHint обязательные поля ввода
		.ContactsPageLayout_photo
		.ContactUsError(style="display: none;")
			h2.ContactUsError_title Ошибка ;(
			.ContactUsError_text
			//- .ContactUsError_text Прошло слишком мало времени с момента последней отправки Вами формы!
block page_bottom
	script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB_VISm1vEGTz5TowM49lQuHD4b8PpzjCA&language=ru")
	script(src="/js/contacts.js")