extends /layouts/main_layout
block vars
	- var title = "Homepage";
block content
	include ./includes/blocks/Header.pug
	main.FullHeightScreen
		.CustomSlider
			.CustomSlider_inner
				.Fitblock
					.Fitblock_inner.CustomSlider_canvasWrap
						img.Fitblock_pusher(src="/img/slides/slide_1/front.png" style="visibility:hidden;")
				.CustomSlider_shade
				.CustomSlider_headerBlock
					h2.CustomSlider_title Серебрянный фонтан
					.CustomSlider_progress
						.CustomSlider_progressRail
							.CustomSlider_progressBar
						.CustomSlider_progressTitle ПРОЕКТ
						.CustomSlider_progressNum 01
			a.CustomSlider_circBtn.CustomSlider_circBtn-n1#readMoreAboutSlideBtn(href="etalonsilver.html")
				.CustomSlider_circBtnTitle Подробнее
				.CustomSlider_circIcon
					include includes/blocks/SvgIco/arrowDown.svg
				#circles-1.CustomSlider_animatedCircle
			include includes/blocks/MiniSlider

			.CustomSlider_slideInfo(data-project-page-url="/project_etalonsilver.html")
				.CustomSlider_infoItemsList
					span.CustomSlider_infoItem Эталон Инвест
					span.CustomSlider_infoItem 2017
					//- img.CustomSlider_infoItem.CustomSlider_infoItem-pic(src="/img/dafest_logo.png" alt="DaFest")
					a.CustomSlider_infoItem.CustomSlider_circBtn(href="https://www.etalonsilver.ru/" target="_blank" rel="nofollow noopener")
						.CustomSlider_circBtnTitle www.etalonsilver.ru
						.CustomSlider_circIcon
							include includes/blocks/SvgIco/external_link.svg

			.CustomSlider_slideInfo(data-project-page-url="/project_kotelniki.html")
				.CustomSlider_infoItemsList
					span.CustomSlider_infoItem Новые котельники
					span.CustomSlider_infoItem 2017
					//- img.CustomSlider_infoItem.CustomSlider_infoItem-pic(src="/img/dafest_logo.png" alt="DaFest")
					a.CustomSlider_infoItem.CustomSlider_circBtn(href="https://www.etalonsilver.ru/" target="_blank" rel="nofollow noopener")
						.CustomSlider_circBtnTitle www.kvartalkotelniki.ru
						.CustomSlider_circIcon
							include includes/blocks/SvgIco/external_link.svg

			.CustomSlider_slideInfo(data-project-page-url="/project_serebrica.html")
				.CustomSlider_infoItemsList
					span.CustomSlider_infoItem Серебрица
					span.CustomSlider_infoItem 2017
					//- img.CustomSlider_infoItem.CustomSlider_infoItem-pic(src="/img/dafest_logo.png" alt="DaFest")
					a.CustomSlider_infoItem.CustomSlider_circBtn(href="https://www.etalonsilver.ru/" target="_blank" rel="nofollow noopener")
						.CustomSlider_circBtnTitle серебрица.рф
						.CustomSlider_circIcon
							include includes/blocks/SvgIco/external_link.svg

		include includes/blocks/SocialNets
block page_bottom
	script(src="/js/index.js")