extends /layouts/main_layout
block vars
    - var title = "Проект «Серебрянный фонтан»";
block content
    main.PageSerebrica.Page
        section.PageSerebrica_section.PageSerebrica_section-thumb.PageSerebrica_section-thumbFirst.Page_section
            .PageSerebrica_thumbContent
                .PageSerebrica_thumbPattern
                    include includes/svg/pattern.svg

                .PageSerebrica_thumbText 
                    p Серебрица — это маленькая звонкая птица, которая селится только в экологически чистых местах. Создатели комплекса, придумавшие серебрицу как символ своего нового объекта в ближнем Подмосковье, опасались, что практичность сайта помешает передать обаяние этой легенды.
                    p В качестве решения мы предложили концепцию, где визуальная и информационная части не конфликтуют, а взаимно усиливают друг друга. Оригинальные флористические паттерны и цветовая гамма притягивают взгляд, а продуманная верстка контента помогает качественно проинформировать посетителя обо всех характеристиках и преимуществах. Предложенная концепция так понравилась клиенту, что он выбрал ее для сайтов еще двух своих проектов.

        
        section.PageSerebrica_section.PageSerebrica_section-white.PageSerebrica_section-fonts.Page_section
            .PageSerebrica_MacOSTab.PageSerebrica_MacOSTab-intro.MacOSTab.MacOSTab-grey.wow.fadeInUp(style="visibility:hidden;")
                .MacOSTab_panel
                    .MacOSTab_panelDot.MacOSTab_panelDot-red
                    .MacOSTab_panelDot.MacOSTab_panelDot-yellow
                    .MacOSTab_panelDot.MacOSTab_panelDot-green
                img.MacOSTab_screen(src="/img/upload/serebrica-screen_mainage.jpg")
                .MacOSTab_leaf.MacOSTab_leaf-right
                    img.MacOSTab_leafImg(src="/img/serebrica/list-1.png")

            .PageSerebrica_fontColorBlock
                .PageSerebrica_fontColorLeft
                    .PageSerebrica_fontColorBlockTitle.PageSerebrica_fontColorBlockTitle-fonts
                        .PageSerebrica_fontColorBlockTitleText Шрифты
                    .PageSerebrica_fontRow.PageSerebrica_fontRow-gotham
                        .PageSerebrica_fontName Gotham Pro
                        .PageSerebrica_fontTypes
                            .PageSerebrica_fontItem.PageSerebrica_fontItem-regular Regular
                            .PageSerebrica_fontItem.PageSerebrica_fontItem-medium Medium
                            .PageSerebrica_fontItem.PageSerebrica_fontItem-bold Bold

                    .PageSerebrica_fontRow.PageSerebrica_fontRow-verdana
                        .PageSerebrica_fontName Verdana
                        .PageSerebrica_fontTypes
                            .PageSerebrica_fontItem.PageSerebrica_fontItem-regular Regular
                            .PageSerebrica_fontItem.PageSerebrica_fontItem-bold Bold
                .PageSerebrica_fontColorRight
                    .PageSerebrica_fontColorBlockTitle.PageSerebrica_fontColorBlockTitle-colors
                        .PageSerebrica_fontColorBlockTitleText Фирменные цвета
                    .PageSerebrica_colorList
                        .PageSerebrica_colorItem.PageSerebrica_colorItem-black
                            span.PageSerebrica_colorItemText #000
                        .PageSerebrica_colorItem.PageSerebrica_colorItem-red
                            span.PageSerebrica_colorItemText #AB3149
                        .PageSerebrica_colorItem.PageSerebrica_colorItem-green
                            span.PageSerebrica_colorItemText #859938
                        .PageSerebrica_colorItem.PageSerebrica_colorItem-purple
                            span.PageSerebrica_colorItemText #9598C7
                        .PageSerebrica_colorItem.PageSerebrica_colorItem-yellow
                            span.PageSerebrica_colorItemText #D4C445
                    .PageSerebrica_colorLeaf
                        .PageSerebrica_colorLeafItem
                            .PageSerebrica_colorLeafTitle Основные
                            .PageSerebrica_colorLeafSvg
                                include includes/svg/serebrica/red-leaf.svg
                        .PageSerebrica_colorLeafItem
                            .PageSerebrica_colorLeafTitle Вторичные
                            .PageSerebrica_colorLeafSvg
                                include includes/svg/serebrica/blue-leaf.svg

            .PageSerebrica_MacOSTab.PageSerebrica_MacOSTab-flats.MacOSTab.MacOSTab-grey.wow.slideInUp(style="visibility:hidden;")
                .MacOSTab_panel
                    .MacOSTab_panelDot.MacOSTab_panelDot-red
                    .MacOSTab_panelDot.MacOSTab_panelDot-yellow
                    .MacOSTab_panelDot.MacOSTab_panelDot-green
                img.MacOSTab_screen(src="/img/upload/serebrica-flats.jpg")
                .MacOSTab_leaf.MacOSTab_leaf-left
                    img.MacOSTab_leafImg(src="/img/serebrica/list-2.png")
                
                .MacOSTab_phone.MacOSTab_phone-right
                    img.MacOSTab_phoneImg(src="/img/upload/phone-flats.png")

        section.PageSerebrica_section.PageSerebrica_section-thumb.PageSerebrica_section-thumbSecond.Page_section
            .PageSerebrica_thumbContent
                .PageSerebrica_thumbPattern
                    include includes/svg/pattern.svg

                .PageSerebrica_thumbText.PageSerebrica_thumbText-decorate
                    .PageSerebrica_thumbTextTitle Фильтр по параметрам
                    p Презентация переходов

        section.PageSerebrica_section.PageSerebrica_section-white.PageSerebrica_section-genplan.Page_section
            .PageSerebrica_MacOSTab.PageSerebrica_MacOSTab-genplan.MacOSTab.MacOSTab-grey.wow.slideInUp(style="visibility:hidden;")
                .MacOSTab_panel
                    .MacOSTab_panelDot.MacOSTab_panelDot-red
                    .MacOSTab_panelDot.MacOSTab_panelDot-yellow
                    .MacOSTab_panelDot.MacOSTab_panelDot-green
                img.MacOSTab_screen(src="/img/upload/serebrica-genplan.jpg")

                .MacOSTab_phone.MacOSTab_phone-left
                    img.MacOSTab_phoneImg(src="/img/serebrica/phone-1.png")

                .LeafDesc
                    .LeafDesc_title Генплан
                    .LeafDesc_desc Десктоп и мобильная версия

        section.Page_section.PageSerebrica_section.PageSerebrica_section-thumb.PageSerebrica_section-thumbThree.PageSerebrica_section-fullScreen
            .PageSerebrica_fullTabs
                .PageSerebrica_MacOSTab.MacOSTab-grey.PageSerebrica_MacOSTab-full.MacOSTab.wow.slideInUp
                    .MacOSTab_panel
                        .MacOSTab_panelDot.MacOSTab_panelDot-red
                        .MacOSTab_panelDot.MacOSTab_panelDot-yellow
                        .MacOSTab_panelDot.MacOSTab_panelDot-green
                    img.MacOSTab_screen(src="/img/upload/serebrica-full.jpg")

                    .LeafDesc.LeafDesc-right
                        .LeafDesc_title Страница о проекте

                .PageSerebrica_MacOSTab.MacOSTab-grey.PageSerebrica_MacOSTab-fullLeft.PageSerebrica_MacOSTab-fullFirst.MacOSTab.wow.slideInUp
                    .MacOSTab_panel
                        .MacOSTab_panelDot.MacOSTab_panelDot-red
                        .MacOSTab_panelDot.MacOSTab_panelDot-yellow
                        .MacOSTab_panelDot.MacOSTab_panelDot-green
                    img.MacOSTab_screen(src="/img/upload/serebrica-fullMini-1.jpg")
                
                .PageSerebrica_MacOSTab.MacOSTab-grey.PageSerebrica_MacOSTab-fullRight.PageSerebrica_MacOSTab-fullTwo.MacOSTab.wow.slideInUp
                    .MacOSTab_panel
                        .MacOSTab_panelDot.MacOSTab_panelDot-red
                        .MacOSTab_panelDot.MacOSTab_panelDot-yellow
                        .MacOSTab_panelDot.MacOSTab_panelDot-green
                    img.MacOSTab_screen(src="/img/upload/serebrica-fullMini-2.jpg")
                
                .PageSerebrica_MacOSTab.MacOSTab-grey.PageSerebrica_MacOSTab-fullLeft.PageSerebrica_MacOSTab-fullThree.MacOSTab.wow.slideInUp
                    .MacOSTab_panel
                        .MacOSTab_panelDot.MacOSTab_panelDot-red
                        .MacOSTab_panelDot.MacOSTab_panelDot-yellow
                        .MacOSTab_panelDot.MacOSTab_panelDot-green
                    img.MacOSTab_screen(src="/img/upload/serebrica-fullMini-3.jpg")


        section.PageSerebrica_section.PageSerebrica_section-white.PageSerebrica_section-desktops.Page_section
            .PageSerebrica_desktops
                .PageSerebrica_desktopItem
                    img.PageSerebrica_desktopItemImg(src="/img/upload/serebrica-fullMini-1.jpg")
                .PageSerebrica_desktopItem
                    img.PageSerebrica_desktopItemImg(src="/img/upload/serebrica-fullMini-1.jpg")
                .PageSerebrica_desktopItem
                    img.PageSerebrica_desktopItemImg(src="/img/upload/serebrica-fullMini-1.jpg")
                .PageSerebrica_desktopItem
                    img.PageSerebrica_desktopItemImg(src="/img/upload/serebrica-fullMini-1.jpg")
                .PageSerebrica_desktopItem
                    img.PageSerebrica_desktopItemImg(src="/img/upload/serebrica-fullMini-1.jpg")
                .PageSerebrica_desktopItem
                    img.PageSerebrica_desktopItemImg(src="/img/upload/serebrica-fullMini-1.jpg")

                .PageSerebrica_desktopFull
                    .LeafDesc.LeafDesc-right
                        .LeafDesc_title 124 отрисованных страниц
                    img.PageSerebrica_desktopFullImg(src="/img/serebrica/serebrica-pc.png")
                    .PageSerebrica_desktopFullDesc Динамика строительства

            .PageSerebrica_adaptive
                .LeafDesc.LeafDesc-left
                    .LeafDesc_title Адаптивная версия
                .PageSerebrica_adaptiveCircle(style="background-image: url('./img/upload/serebrica-thumb.jpg')")
                .PageSerebrica_adaptivePhones
                    .PageSerebrica_adaptivePhoneItem.PageSerebrica_adaptivePhoneItem-side
                        img.PageSerebrica_adaptivePhoneImg(src="/img/serebrica/adaptive-phone-side_left.png")
                    .PageSerebrica_adaptivePhoneItem.PageSerebrica_adaptivePhoneItem-center
                        img.PageSerebrica_adaptivePhoneImg(src="/img/serebrica/adaptive-phone-center.png")
                    .PageSerebrica_adaptivePhoneItem.PageSerebrica_adaptivePhoneItem-side
                        img.PageSerebrica_adaptivePhoneImg(src="/img/serebrica/adaptive-phone-side_right.png")

                .PageSerebrica_adaptiveDesc Главная страница

            
            .PageSerebrica_styleGuide
                .LeafDesc.LeafDesc-right.PageSerebrica_styleGuideTitle
                    .LeafDesc_title Навигация, анимация элементов
                
                .PageSerebrica_styleGuideBlock
                    .PageSerebrica_styleGuideLeft
                        .PageSerebrica_styleGuideControls
                            .PageSerebrica_guideBtn Подробнее
                            .PageSerebrica_guideMarker
                                .PageSerebrica_guideMarkerNum 2
                                .PageSerebrica_guideMarkerDesc Корпус

                        .PageSerebrica_guideTile
                            .PageSerebrica_guideTileBird
                                img.PageSerebrica_guideTileBirdImg(src="/img/serebrica/bird.svg")
                            img.PageSerebrica_guideTileImg(src="/img/serebrica/serebrica-tile.png", alt="")
                    .PageSerebrica_styleGuideRight
                        .PageSerebrica_guideItem
                            img.PageSerebrica_guideItemImg(src="/img/serebrica/pulse-bird.svg")
                            //- include includes/svg/serebrica/pulse-bird.svg
                        .PageSerebrica_guideItem
                            img.PageSerebrica_guideItemImg(src="/img/serebrica/pulse-star.svg")
                            //- include includes/svg/serebrica/pulse-star.svg
                        .PageSerebrica_guideItem.PageSerebrica_guideItem-leaf
                            img.PageSerebrica_guideItemImg(src="/img/serebrica/guide-leaf.svg")


            .PageSerebrica_arrow
                a.ArrowPage.ArrowPage-serebrica(href="/project_etalonsilver.html")
                    .ArrowPage_title Серебряный фонтан
                    .ArrowPage_arrow Следующий Проект


    include includes/blocks/Footer
block page_bottom
    script(src="/js/project_page.js")