extends /layouts/main_layout
block vars
	- var title = "Kotelniki page";
block content
	main.PageKotelniki
		.BgLines
		section.NewKotelniki.PageKotelniki_newKotelniki
			.Container
				.NewKotelniki_logo
					img(src="/img/kotelniki_logo.svg", alt="Logo").NewKotelniki_logoImg
				.MacOSTab.MacOSTab-black.NewKotelniki_screen.wow.fadeInUp.fadeIn(style="visibility:hidden;")
					.MacOSTab_panel
						.MacOSTab_panelDot.MacOSTab_panelDot-red
						.MacOSTab_panelDot.MacOSTab_panelDot-yellow
						.MacOSTab_panelDot.MacOSTab_panelDot-green
					img(src="/img/kotelniki_screenshot.jpg", alt="Screenshot").NewKotelniki_screenImg
		section.Styling.PageKotelniki_styling
			.Container.Styling_container
				.Styling_col
					h3.Styling_subtitle Шрифт
					h4.Styling_fontName Gilroy
					ul.FontStyleList.Styling_fontStyleList
						li.FontStyleList_item.FontStyleList_item-light Light
						li.FontStyleList_item.FontStyleList_item-regular Regular
						li.FontStyleList_item.FontStyleList_item-medium Medium
						li.FontStyleList_item.FontStyleList_item-semibold Semibold
						li.FontStyleList_item.FontStyleList_item-bold Bold
					.Styling_gradient
						img(src="/img/gradient.svg", alt="").Styling_gradientImg
				.Styling_col
					h3.Styling_subtitle Цвета
					.Colors.Styling_colors
						.Colors_item.Colors_item-green
							.Colors_hex #86C98B
							.Colors_hex #7DCAC5
						.Colors_item.Colors_item-orange
							.Colors_hex #FFD46C
							.Colors_hex #FABF2E
						.Colors_item.Colors_item-darkBlue
							.Colors_hex #4A5565
		section.ProjectDescription.ProjectDescription-aboutKotelniki.PageKotelniki_aboutKotelniki
			.ProjectDescription_columns
				.ProjectDescription_col
					h2.ProjectDescription_title О проекте
					.ProjectDescription_text
						p.
							Клиент обратился к нам с длинным списком вопросов для решения. Основной задачей было выделить продукт из ряда аналогичных конкурирующих продуктов, другие были связаны исключительно с проблемами UX.
					.ProjectDescription_additionalText.
						Мы предложили ряд решений, которые помогут в полной мере раскрыть потенциал продукта.
				.ProjectDescription_col
					.ProjectDescription_imagesOverlay
						.ProjectDescription_topThumbnail.wow.slideInUp
							.MacOSTab.MacOSTab-black.ProjectDescription_macOsTab
								.MacOSTab_panel.ProjectDescription_macOsTabPanel
									.MacOSTab_panelDot.MacOSTab_panelDot-red
									.MacOSTab_panelDot.MacOSTab_panelDot-yellow
									.MacOSTab_panelDot.MacOSTab_panelDot-green
								img(src="/img/project_description_1_1.jpg", alt="").ProjectDescription_img
						.ProjectDescription_bottomThumbnail
							.MacOSTab.MacOSTab-black.ProjectDescription_macOsTab
								.MacOSTab_panel.ProjectDescription_macOsTabPanel
									.MacOSTab_panelDot.MacOSTab_panelDot-red
									.MacOSTab_panelDot.MacOSTab_panelDot-yellow
									.MacOSTab_panelDot.MacOSTab_panelDot-green
								img(src="/img/project_description_1_2.jpg", alt="").ProjectDescription_img
		section.ProjectDescription.ProjectDescription-reverse.ProjectDescription-3dDevelopment.PageKotelniki_3dDevelopment
			.ProjectDescription_columns
				.ProjectDescription_col
					h2.ProjectDescription_title Разработка #[br]3D визуализации
					.ProjectDescription_text
						p.
							При покупке жилья люди учитывают множество факторов, для кого-то важен комфорт,  для других транспортная доступность. 3D визуализация поможет увидеть плюсы и минусы, которые помогут определиться с вашим решением.
						p.
							Ведь не зря говорят:
					.Quote.ProjectDescription_quote
						img(src="/img/quote.png", alt="").Quote_img
				.ProjectDescription_col
					.ProjectDescription_imagesOverlay
						.ProjectDescription_topThumbnail
							img(src="/img/project_description_2_1.png", alt="").ProjectDescription_img
						.ProjectDescription_bottomThumbnail
							img(src="/img/project_description_2_2.jpg", alt="").ProjectDescription_img
		section.ProjectDescription.ProjectDescription-center.ProjectDescription-selectionTool.PageKotelniki_selectionTool
			.Container.ProjectDescription_container
				h2.ProjectDescription_title Удобный инструмент #[br]для подбора квартиры
				.ProjectDescription_toolImg.wow.slideInUp
					.MacOSTab.MacOSTab-black.ProjectDescription_macOsTab
						.MacOSTab_panel
							.MacOSTab_panelDot.MacOSTab_panelDot-red
							.MacOSTab_panelDot.MacOSTab_panelDot-yellow
							.MacOSTab_panelDot.MacOSTab_panelDot-green
						img(src="/img/project_description_3_1.png", alt="").ProjectDescription_img
			.ProjectDescription_imgWrapper
				img(src="/img/project_description_3_2.gif", alt="").ProjectDescription_img
		section.CalcAndAdaptive
			.BgLines.BgLines-dark.CalcAndAdaptive_bgLines
			section.ProjectDescription.ProjectDescription-reverse.ProjectDescription-calc.PageKotelniki_calc
				.ProjectDescription_columns
					.ProjectDescription_col
						h2.ProjectDescription_title Ипотечный #[br]калькулятор
						.ProjectDescription_text
							p.
								Простое и удобное решение для расчёта ежемесячной суммы выплат по погашению ипотечного кредита. Перед принятием решения оформления ипотеки, необходимо определить выгодное предложение. Приоритетное условие выгодной ипотеки – это показатель эффективной процентной ставки. Этот процент учитывает ежемесячные выплаты по кредиту.
					.ProjectDescription_col
						.ProjectDescription_imagesOverlay
							.ProjectDescription_topThumbnail.wow.slideInUp
								.MacOSTab.MacOSTab-black.ProjectDescription_macOsTab
									.MacOSTab_panel.ProjectDescription_macOsTabPanel
										.MacOSTab_panelDot.MacOSTab_panelDot-red
										.MacOSTab_panelDot.MacOSTab_panelDot-yellow
										.MacOSTab_panelDot.MacOSTab_panelDot-green
									img(src="/img/project_description_4_1.jpg", alt="").ProjectDescription_img
							.ProjectDescription_bottomThumbnail
								.MacOSTab.MacOSTab-black.ProjectDescription_macOsTab
									.MacOSTab_panel.ProjectDescription_macOsTabPanel
										.MacOSTab_panelDot.MacOSTab_panelDot-red
										.MacOSTab_panelDot.MacOSTab_panelDot-yellow
										.MacOSTab_panelDot.MacOSTab_panelDot-green
									img(src="/img/project_description_4_2.png", alt="").ProjectDescription_img
			section.ProjectDescription.ProjectDescription-adaptive.PageKotelniki_adaptive
				.ProjectDescription_columns
					.ProjectDescription_col
						h2.ProjectDescription_title Доступ с любого #[br]устройства
						.ProjectDescription_text
							p.
								Больше чем две трети людей во всем мире сегодня используют мобильное устройство. Они генерируют больше веб-трафика, чем прочие устройства суммарно. Поэтому мы уделяем особое внимание адаптивности, для повышения комфорта при использовании сайта на мобильных устройствах.
		section.Smartphones.PageKotelniki_smartphones
			.Container.Smartphones_container
				.Smartphones_col
					.Smartphones_thumbnail
						img(src="/img/smartphone_1.png", alt="Smartphone 1").Smartphones_img
					.Smartphones_thumbnail
						img(src="/img/smartphone_2.png", alt="Smartphone 2").Smartphones_img
					.Smartphones_thumbnail
						img(src="/img/smartphone_3.png", alt="Smartphone 3").Smartphones_img
				.Smartphones_col
					.Smartphones_thumbnail
						img(src="/img/smartphone_4.png", alt="Smartphone 4").Smartphones_img
					.Smartphones_thumbnail
						img(src="/img/smartphone_5.png", alt="Smartphone 5").Smartphones_img
					.Smartphones_thumbnail
						img(src="/img/smartphone_6.png", alt="Smartphone 6").Smartphones_img
		section.PageKotelniki_arrowSection
			a.ArrowPage.ArrowPage-pageKotelniki(href="/project_serebrica.html").PageKotelniki_arrowPage
				.ArrowPage_title Серебрица
				.ArrowPage_arrow Следующий Проект
	include includes/blocks/Footer
block page_bottom
	script(src="/js/project_page.js")