extends /layouts/main_layout
block vars
	- var title = "Проект «Серебрянный Фонтан»";
block content
	main.PageFontan.Page        
		section.Page_section.PageFontan_section.PageFontan_section-foreWord.PageFontan_section-blue
			.PageFontan_sectionDesc
				.PageFontan_sectionDescLeaf.PageFontan_sectionDescLeaf-top
					include includes/blocks/SvgIco/leaf.svg
				.PageFontan_sectionDescText
					p Может ли сайт убедительно передать сложную авторскую концепцию жилого комплекса бизнес-класса? У создателей ЖК «Серебряный фонтан» были в этом сомнения, но нам удалось их развеять. 
					p Чтобы отразить интеллектуальный подход застройщика, мы оформили внутренние страницы в стиле старых архитектурных эскизов и чертежей, а на главной поместили акварельную картину с видом старой Москвы, которая плавно перетекает в 3D-изображение комплекса, создавая эффект связи времен. Визуальная оригинальность сайта погружает посетителей в ценности бренда, а удобство навигации и подбора квартир мотивируют их на принятие решения о покупке.

				.PageFontan_sectionDescLeaf.PageFontan_sectionDescLeaf-bottom
					include includes/blocks/SvgIco/leaf.svg

			.PageFontan_MacOSTab.PageFontan_MacOSTab-intro.MacOSTab.wow.fadeInUp(style="visibility:hidden;")
				.MacOSTab_panel
					.MacOSTab_panelDot.MacOSTab_panelDot-red
					.MacOSTab_panelDot.MacOSTab_panelDot-yellow
					.MacOSTab_panelDot.MacOSTab_panelDot-green
				img.MacOSTab_screen(src="/img/upload/fontan-screen_mainpage.jpg")

		section.Page_section.PageFontan_section.PageFontan_section-grey.PageFontan_section-watercolor
			img.PageFontan_splatter.PageFontan_splatter-top(src="/img/fontan/splatter-top.png")
			.PageFontan_fontColorBlock
				.PageFontan_fontColorLeft
					.PageFontan_fontColorBlockTitle.PageFontan_fontColorBlockTitle-fonts
						.PageFontan_fontColorBlockTitleText Шрифты
					.PageFontan_fontRow.PageFontan_fontRow-museo
						.PageFontan_fontName Museo Cyrl
						.PageFontan_fontTypes
							.PageFontan_fontItem.PageFontan_fontItem-100 100
							.PageFontan_fontItem.PageFontan_fontItem-300 300
							.PageFontan_fontItem.PageFontan_fontItem-500 500
							.PageFontan_fontItem.PageFontan_fontItem-700 700
							.PageFontan_fontItem.PageFontan_fontItem-900 900

					.PageFontan_fontRow.PageFontan_fontRow-avenir
						.PageFontan_fontName AvenirNext
						.PageFontan_fontTypes
							.PageFontan_fontItem.PageFontan_fontItem-regular Regular
							.PageFontan_fontItem.PageFontan_fontItem-medium Medium
							.PageFontan_fontItem.PageFontan_fontItem-demi Demi
							.PageFontan_fontItem.PageFontan_fontItem-bold Bold
				.PageFontan_fontColorRight
					.PageFontan_fontColorBlockTitle.PageFontan_fontColorBlockTitle-colors
						.PageFontan_fontColorBlockTitleText Цвета
					.PageFontan_colorList
						.PageFontan_colorItem.PageFontan_colorItem-blueLight
							span.PageFontan_colorItemText #3a4f7a
						.PageFontan_colorItem.PageFontan_colorItem-blue
							span.PageFontan_colorItemText #3e5179
						.PageFontan_colorItem.PageFontan_colorItem-white
							span.PageFontan_colorItemText #ffffff
						.PageFontan_colorItem.PageFontan_colorItem-brown
							span.PageFontan_colorItemText #cf8769

			img.PageFontan_splatter.PageFontan_splatter-bottom(src="/img/fontan/splatter-bottom.png")

		section.Page_section.PageFontan_section.PageFontan_section-map
			.PageFontan_MacOSTab.PageFontan_MacOSTab-map.MacOSTab.wow.slideInUp
				.MacOSTab_panel
					.MacOSTab_panelDot.MacOSTab_panelDot-red
					.MacOSTab_panelDot.MacOSTab_panelDot-yellow
					.MacOSTab_panelDot.MacOSTab_panelDot-green
				img.MacOSTab_screen(src="/img/upload/fontan-screen_genplan.jpg")
			
			img.PageFontan_mapLogo(src="/img/fontan/map-logo.png")

		section.Page_section.PageFontan_section.PageFontan_section-grey.PageFontan_section-fullScreen
			.PageFontan_fullTabs
				.PageFontan_MacOSTab.PageFontan_MacOSTab-full.MacOSTab.wow.slideInUp
					.MacOSTab_panel
						.MacOSTab_panelDot.MacOSTab_panelDot-red
						.MacOSTab_panelDot.MacOSTab_panelDot-yellow
						.MacOSTab_panelDot.MacOSTab_panelDot-green
					img.MacOSTab_screen(src="/img/upload/fontan-full.jpg")

				.PageFontan_MacOSTab.PageFontan_MacOSTab-fullLeft.PageFontan_MacOSTab-fullFirst.MacOSTab.wow.slideInUp
					.MacOSTab_panel
						.MacOSTab_panelDot.MacOSTab_panelDot-red
						.MacOSTab_panelDot.MacOSTab_panelDot-yellow
						.MacOSTab_panelDot.MacOSTab_panelDot-green
					img.MacOSTab_screen(src="/img/upload/fontan-fullMini-1.jpg")

				.PageFontan_MacOSTab.PageFontan_MacOSTab-fullRight.PageFontan_MacOSTab-fullTwo.MacOSTab.wow.slideInUp
					.MacOSTab_panel
						.MacOSTab_panelDot.MacOSTab_panelDot-red
						.MacOSTab_panelDot.MacOSTab_panelDot-yellow
						.MacOSTab_panelDot.MacOSTab_panelDot-green
					img.MacOSTab_screen(src="/img/upload/fontan-fullMini-2.jpg")

				.PageFontan_MacOSTab.PageFontan_MacOSTab-fullLeft.PageFontan_MacOSTab-fullThree.MacOSTab.wow.slideInUp
					.MacOSTab_panel
						.MacOSTab_panelDot.MacOSTab_panelDot-red
						.MacOSTab_panelDot.MacOSTab_panelDot-yellow
						.MacOSTab_panelDot.MacOSTab_panelDot-green
					img.MacOSTab_screen(src="/img/upload/fontan-fullMini-3.jpg")

				.PageFontan_MacOSTab.PageFontan_MacOSTab-fullRight.PageFontan_MacOSTab-fullFour.MacOSTab.wow.slideInUp
					.MacOSTab_panel
						.MacOSTab_panelDot.MacOSTab_panelDot-red
						.MacOSTab_panelDot.MacOSTab_panelDot-yellow
						.MacOSTab_panelDot.MacOSTab_panelDot-green
					img.MacOSTab_screen(src="/img/upload/fontan-fullMini-4.jpg")

		section.Page_section.PageFontan_section.PageFontan_section-blue.PageFontan_section-fullBottom
		section.Page_section.PageFontan_section.PageFontan_section-grey.PageFontan_section-fullBottom
		section.Page_section.PageFontan_section.PageFontan_section-thumb(style="background-image: url('/img/upload/fontan-thumb.jpg')")
		section.Page_section.PageFontan_section.PageFontan_section-blue.PageFontan_section-blue.PageFontan_section-phones
			.PageFontan_phoneList
				.PageFontan_phoneRow
					.PageFontan_phoneItem.PageFontan_phoneItem-left.PageFontan_phoneItem-bgBottom
						img.PageFontan_phoneBg(src="/img/fontan/bg-phone-1.png")
						img.PageFontan_phoneImg(src="/img/fontan/phone-1.png")
					.PageFontan_phoneItem.PageFontan_phoneItem-right.PageFontan_phoneItem-bgBottom
						img.PageFontan_phoneBg(src="/img/fontan/bg-phone-2.png")
						img.PageFontan_phoneImg(src="/img/fontan/phone-2.png")

				.PageFontan_phoneRow
					.PageFontan_phoneItem.PageFontan_phoneItem-left.PageFontan_phoneItem-bgTop
						img.PageFontan_phoneBg(src="/img/fontan/bg-phone-4.png")
						img.PageFontan_phoneImg(src="/img/fontan/phone-3.png")
					.PageFontan_phoneItem.PageFontan_phoneItem-right.PageFontan_phoneItem-bgTop
						img.PageFontan_phoneBg(src="/img/fontan/bg-phone-3.png")
						img.PageFontan_phoneImg(src="/img/fontan/phone-4.png")
		section.Page_section.PageFontan_section.PageFontan_section-thumb(style="background-image: url('/img/upload/fontan-thumb-2.jpg')")
		section.Page_section.PageFontan_section.PageFontan_section-blue.PageFontan_section-arrow
			a.ArrowPage.ArrowPage-fontan(href="/project_kotelniki.html")
				.ArrowPage_title Новые Котельники
				.ArrowPage_arrow Следующий Проект
	include includes/blocks/Footer
block page_bottom
	script(src="/js/project_page.js")