// START: Gilroy
@font-face
	font-family 'Gilroy'
	src url('../fonts/Gilroy-UltraLight.woff2') format('woff2'),
		url('../fonts/Gilroy-UltraLight.woff') format('woff')
	font-weight 200
	font-style normal

@font-face
	font-family 'Gilroy'
	src url('../fonts/Gilroy-Light.woff2') format('woff2'),
		url('../fonts/Gilroy-Light.woff') format('woff')
	font-weight 300
	font-style normal

@font-face
	font-family 'Gilroy'
	src url('../fonts/Gilroy-Regular.woff2') format('woff2'),
		url('../fonts/Gilroy-Regular.woff') format('woff')
	font-weight 400
	font-style normal

@font-face
	font-family 'Gilroy'
	src url('../fonts/Gilroy-Medium.woff2') format('woff2'),
		url('../fonts/Gilroy-Medium.woff') format('woff')
	font-weight 500
	font-style normal

@font-face
	font-family 'Gilroy'
	src url('../fonts/Gilroy-Semibold.woff2') format('woff2'),
		url('../fonts/Gilroy-Semibold.woff') format('woff')
	font-weight 600
	font-style normal

@font-face
	font-family 'Gilroy'
	src url('../fonts/Gilroy-Bold.woff2') format('woff2'),
		url('../fonts/Gilroy-Bold.woff') format('woff')
	font-weight 700
	font-style normal

@font-face
	font-family 'Gilroy'
	src url('../fonts/Gilroy-ExtraBold.woff2') format('woff2'),
		url('../fonts/Gilroy-ExtraBold.woff') format('woff')
	font-weight 800
	font-style normal
// END: Gilroy

// START: AvenirNext
@font-face
	font-family 'AvenirNext'
	font-weight 700
	src url('../fonts/AvenirNextCyrW00Bold.eot')
	src url('../fonts/AvenirNextCyrW00Bold.eot') format('embedded-opentype'), url('../fonts/AvenirNextCyrW00Bold.woff2') format('woff2'), url('../fonts/AvenirNextCyrW00Bold.woff') format('woff'), url('../fonts/AvenirNextCyrW00Bold.ttf') format('truetype'), url('../fonts/AvenirNextCyrW00Bold.svg#AvenirNextCyrW00Bold') format('svg')

@font-face
	font-family 'AvenirNext'
	font-weight 600
	src url('../fonts/AvenirNextCyrW00Demi.eot')
	src url('../fonts/AvenirNextCyrW00Demi.eot') format('embedded-opentype'),
	url('../fonts/AvenirNextCyrW00Demi.woff2') format('woff2'),
	url('../fonts/AvenirNextCyrW00Demi.woff') format('woff'),
	url('../fonts/AvenirNextCyrW00Demi.ttf') format('truetype'),
	url('../fonts/AvenirNextCyrW00Demi.svg#AvenirNextCyrW00Demi') format('svg')

@font-face
	font-family 'AvenirNext'
	font-weight 500
	src url('../fonts/AvenirNextCyrW00Medium.eot')
	src url('../fonts/AvenirNextCyrW00Medium.eot') format('embedded-opentype'),
	url('../fonts/AvenirNextCyrW00Medium.woff2') format('woff2'),
	url('../fonts/AvenirNextCyrW00Medium.woff') format('woff'),
	url('../fonts/AvenirNextCyrW00Medium.ttf') format('truetype'),
	url('../fonts/AvenirNextCyrW00Medium.svg#AvenirNextCyrW00Medium') format('svg')

@font-face
	font-family 'AvenirNext'
	font-weight 400
	src url('../fonts/AvenirNextCyrW00Regular.eot')
	src url('../fonts/AvenirNextCyrW00Regular.eot') format('embedded-opentype'),
	url('../fonts/AvenirNextCyrW00Regular.woff2') format('woff2'),
	url('../fonts/AvenirNextCyrW00Regular.woff') format('woff'),
	url('../fonts/AvenirNextCyrW00Regular.ttf') format('truetype'),
	url('../fonts/AvenirNextCyrW00Regular.svg#AvenirNextCyrW00Regular') format('svg')
// END: AvenirNext

// START: SFUIDisplay font
@font-face
	font-family 'SFUIDisplay'
	src url('../fonts/SFUIDisplay-Ultralight.woff2') format('woff2'),
   url('../fonts/SFUIDisplay-Ultralight.woff') format('woff')
	font-weight 200
	font-style normal

@font-face
	font-family 'SFUIDisplay'
	src url('../fonts/SFUIDisplay-Medium.woff2') format('woff2'),
   url('../fonts/SFUIDisplay-Medium.woff') format('woff')
	font-weight 500
	font-style normal

@font-face
	font-family 'SFUIDisplay'
	src url('../fonts/SFUIDisplay-Heavy.woff2') format('woff2'),
   url('../fonts/SFUIDisplay-Heavy.woff') format('woff')
	font-weight 900
	font-style normal

@font-face
	font-family 'SFUIDisplay'
	src url('../fonts/SFUIDisplay-Regular.woff2') format('woff2'),
   url('../fonts/SFUIDisplay-Regular.woff') format('woff')
	font-weight normal
	font-style normal

@font-face
	font-family 'SFUIDisplay'
	src url('../fonts/SFUIDisplay-Bold.woff2') format('woff2'),
   url('../fonts/SFUIDisplay-Bold.woff') format('woff')
	font-weight bold
	font-style normal

@font-face
	font-family 'SFUIDisplay'
	src url('../fonts/SFUIDisplay-Semibold.woff2') format('woff2'),
   url('../fonts/SFUIDisplay-Semibold.woff') format('woff')
	font-weight 600
	font-style normal

@font-face
	font-family 'SFUIDisplay'
	src url('../fonts/SFUIDisplay-Thin.woff2') format('woff2'),
   url('../fonts/SFUIDisplay-Thin.woff') format('woff')
	font-weight 100
	font-style normal

@font-face
	font-family 'SFUIDisplay'
	src url('../fonts/SFUIDisplay-Black.woff2') format('woff2'),
   url('../fonts/SFUIDisplay-Black.woff') format('woff')
	font-weight 900
	font-style normal

@font-face
	font-family 'SFUIDisplay'
	src url('../fonts/SFUIDisplay-Light.woff2') format('woff2'),
   url('../fonts/SFUIDisplay-Light.woff') format('woff')
	font-weight 200
	font-style normal

// END: SFUIDisplay font

// START: MarckScript font

@font-face
	font-family 'MarckScript'
	src url('../fonts/MarckScript-Regular.woff2') format('woff2'),
   url('../fonts/MarckScript-Regular.woff') format('woff')
	font-weight 500
	font-style normal

// END: MarckScript font

// START: Museo font

@font-face
	font-family 'MuseoCyrl'
	src url('../fonts/MuseoCyrl100.woff2') format('woff2'),
   url('../fonts/MuseoCyrl100.woff') format('woff')
	font-weight 100
	font-style normal

@font-face
	font-family 'MuseoCyrl'
	src url('../fonts/MuseoCyrl100Italic.woff2') format('woff2'),
   url('../fonts/MuseoCyrl100Italic.woff') format('woff')
	font-weight 100
	font-style italic

@font-face
	font-family 'MuseoCyrl'
	src url('../fonts/MuseoCyrl300.woff2') format('woff2'),
   url('../fonts/MuseoCyrl300.woff') format('woff')
	font-weight 300
	font-style normal

@font-face
	font-family 'MuseoCyrl'
	src url('../fonts/MuseoCyrl300Italic.woff2') format('woff2'),
   url('../fonts/MuseoCyrl300Italic.woff') format('woff')
	font-weight 300
	font-style italic

@font-face
	font-family 'MuseoCyrl'
	src url('../fonts/MuseoCyrl500.woff2') format('woff2'),
   url('../fonts/MuseoCyrl500.woff') format('woff')
	font-weight 500
	font-style normal

@font-face
	font-family 'MuseoCyrl'
	src url('../fonts/MuseoCyrl500Italic.woff2') format('woff2'),
   url('../fonts/MuseoCyrl500Italic.woff') format('woff')
	font-weight 500
	font-style italic

@font-face
	font-family 'MuseoCyrl'
	src url('../fonts/MuseoCyrl700.woff2') format('woff2'),
   url('../fonts/MuseoCyrl700.woff') format('woff')
	font-weight 700
	font-style normal

@font-face
	font-family 'MuseoCyrl'
	src url('../fonts/MuseoCyrl700Italic.woff2') format('woff2'),
   url('../fonts/MuseoCyrl700Italic.woff') format('woff')
	font-weight 700
	font-style italic

@font-face
	font-family 'MuseoCyrl'
	src url('../fonts/MuseoCyrl900.woff2') format('woff2'),
   url('../fonts/MuseoCyrl900.woff') format('woff')
	font-weight 900
	font-style normal

@font-face
	font-family 'MuseoCyrl'
	src url('../fonts/MuseoCyrl700Italic.woff2') format('woff2'),
   url('../fonts/MuseoCyrl700Italic.woff') format('woff')
	font-weight 900
	font-style italic


// START: Gotham Pro

@font-face
	font-family 'Gotham Pro'
	src url('../fonts/GothamPro.woff2') format('woff2'),
   url('../fonts/GothamPro.woff') format('woff')
	font-weight 400
	font-style normal

@font-face
	font-family 'Gotham Pro'
	src url('../fonts/GothamPro-Medium.woff2') format('woff2'),
   url('../fonts/GothamPro-Medium.woff') format('woff')
	font-weight 500
	font-style normal

@font-face
	font-family 'Gotham Pro'
	src url('../fonts/GothamPro-Bold.woff2') format('woff2'),
   url('../fonts/GothamPro-Bold.woff') format('woff')
	font-weight 600
	font-style normal


// START: Verdana

@font-face
	font-family 'Verdana'
	src url('../fonts/Verdana.woff2') format('woff2'),
   url('../fonts/Verdana.woff') format('woff')
	font-weight 400
	font-style normal

@font-face
	font-family 'Verdana'
	src url('../fonts/Verdana-Bold.woff2') format('woff2'),
   url('../fonts/Verdana-Bold.woff') format('woff')
	font-weight 600
	font-style normal