.hidden-xs
	@media $xs
		display none  !important

.hidden-smMinus
	@media $smMinus
		display none !important

.hidden-sm
	@media $sm
		display none !important
.hidden-md
	@media $md
		display none  !important

.hidden-lg
	@media $lg
		display none !important

.clickPrevent
	pointer-events none

.clearfix
	&:before,
	&:after
		content " "
		display table
	&:after
		clear both
