doctype html
block vars
html(lang="ru")
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
		meta(name="format-detection" content="telephone=no")
		title #{title} | Веб-бюро &laquo;Синий муравей&raquo;
		link(rel="apple-touch-icon" href="img/apple-touch-icon.png")
		link(rel="shortcut icon" type="image/x-icon" href="img/favicon.ico")
		link(rel="apple-touch-icon" sizes="80x80" href="img/80x80.png")
		link(rel="apple-touch-icon" sizes="180x180" href="img/180x180.png")
		link(href='/css/vendor.css', rel='stylesheet')
		link(href='/css/style.css', rel='stylesheet')
	body.Body(class=bodyClass)
		#pagePreloader.Preloader
		include /includes/blocks/Topbar.pug
		include /includes/blocks/Sidebar.pug
		block content

		include /includes/blocks/Menu.pug
		script(src='/js/vendor.js')
		script(src='/js/common.js')

		block page_bottom