.ArrowPage
	display block
	max-width 925px
	width 90%
	position relative
	font-family 'Gilroy'

	@media $mdMinus
		max-width 644px

	@media $smMinus
		max-width 514px

	@media $xs
		max-width 296px
	&_title
		font-size 75px
		font-weight bold
		text-transform uppercase
		color #0071e0
		opacity .1
		text-align center
		padding-right 60px
		position relative
		z-index 7
		line-height: 1.1


		@media $mdMinus
			font-size 50px

		@media $smMinus
			font-size 35px
			line-height 1.2

		@media $xs
			font-size 24px
			padding-right 27px

	&-serebrica
		& .ArrowPage-title
			color #f2f5f9
	&-fontan
		& .ArrowPage-title
			color #e1e7f9

	&-pageKotelniki
		& .ArrowPage-title
			color #304473

	&_arrow
		width calc(100% - 60px)
		background-color #0071e0
		height 30px
		// position absolute
		transform translate(0%, -50%)
		top 50%
		left 0
		display flex
		align-items center
		justify-content center
		text-transform uppercase
		font-size 10px
		color rgba(#fff, .5)
		letter-spacing 14pt
		opacity 0.7

		@media $mdMinus
			height 25px
			letter-spacing 8pt
			width calc(100% - 50px)
		
		@media $smMinus
			height 20px

		@media $xs
			font-size 6px
			height 10px
			letter-spacing 5pt
			width calc(100% - 30px)
		&:before
			content ''
			width 0
			height 0
			border-style solid
			border-width 40px 0 40px 60px
			border-color transparent transparent transparent #0071e0
			position absolute
			transform translate(0%, -50%)
			right -30px
			top 50%

			@media $mdMinus
				border-width 30px 0 30px 50px
				right -30px

			@media $smMinus
				border-width 20px 0 20px 30px

			@media $xs
				border-width 10px 0 10px 15px
				right -15px