.BgLines
	position absolute
	top 0
	right 30px
	left 30px
	max-width 557px
	height 100%
	margin-right auto
	margin-left auto
	border-right 1px solid #f2f2f2
	border-left 1px solid #f2f2f2
	pointer-events none
	
	@media $mdPlus
		max-width 879px
	
	&:before
		content ""
		position absolute
		top 0
		right 0
		left 0
		width 1px
		height 100%
		margin-right auto
		margin-left auto
		background #F2F2F2
	
	&-dark
		border-right 1px solid #3E4347
		border-left 1px solid #3E4347
		
		&:before
			background #3E4347