.Body
	@media $xs
		padding-top $xsTopbarHeight
	@media $sm
		padding-left $smSidebarWidth
	@media $md
		padding-left $mdSidebarWidth
	@media $lg
		padding-left $lgSidebarWidth
	&-pageAbout
		@media $md
			padding-right 346px
		@media $lg
			padding-right 500px