.Box
    width 100%
    margin-right auto
    margin-left auto
    @media $xs
        padding-right 20px
        padding-left 20px
    @media $sm
        max-width $smBoxWidth
    @media $md
        max-width $mdBoxWidth
    @media $lg
        max-width $lgBoxWidth