.Btn
	color #000
	border 1px solid transparent
	background #ffd700
	text-align center
	white-space nowrap
	vertical-align middle
	font-weight 500
	font-size 14px
	display inline-block
	@media $xs
		padding 15px 33px
	@media $smPlus
		padding 20px 44px
	&-forFeatureDescBlock
		@media $xs
			display block
			width 100%
		@media $mdPlus
			display block
			width 100%