.CalcAndAdaptive
	position relative
	padding-bottom 27px
	background #2B2F32 url('../img/bg_calc_and_adaptive.svg') 54% 80% / 170% auto no-repeat
	
	@media $smPlus
		padding-bottom 0
		background-position 48% 101%
		background-size 114% auto
	
	@media $mdPlus
		background-position 8% 101%
		background-size 62% auto
	
	@media $lg
		background-position 30.4% 100%
		background-size 43.5% auto