.Colors
	position relative
	display flex
	justify-content space-between
	
	&_item
		width 26.32%
		
		@media $smPlus
			width 24.195%
		
		&:before
			content ""
			display block
			width 100%
			padding-top 100%
			margin-bottom 19px
			border-radius 2px
			
			@media $smPlus
				margin-bottom 29px
		
		&-green
			&:before
				background-image linear-gradient(135deg, #86c98b, #7dcac5)
				box-shadow 0 20px 34px 0 rgba(49, 203, 128, 0.32)
				
			.Colors_hex
				&:first-child
					color #86C98B
				
				&:nth-child(2)
					color #7DCAC5
		
		&-orange
			&:before
				background-image linear-gradient(225deg, #ffd46c, #fabf2e)
				box-shadow 0 20px 34px 0 rgba(203, 180, 49, 0.32)
				
			.Colors_hex
				&:first-child
					color #FFD46C
				
				&:nth-child(2)
					color #FABF2E
		
		&-darkBlue
			&:before
				background-color #4A5565
				box-shadow 0 20px 34px 0 rgba(74, 85, 101, 0.32)
				
			.Colors_hex
				&:first-child
					color #4A5565
	
	&_hex
		font 12px/normal 'Gilroy', sans-serif
		letter-spacing 1px
		
		@media $smPlus
			font-size 14px
			letter-spacing 2px
		
		&:not(:last-child)
			margin-bottom 5px