.CompanyBlock
	padding 87px 30px 44px
	background #1f1f1f url('../img/grid.svg') center -60px / 374px auto no-repeat
	font-family 'Gilroy'
	text-align center
	
	@media $smPlus
		padding-top 270px
		padding-bottom 118px
		background-position center 73px
		background-size 503px auto
		font-family 'AvenirNext'
	
	@media $mdPlus
		padding-top 217px
		background-position center 20px
	
	@media $lg
		padding-top 417px
		padding-bottom 188px
		background-position center 218px
	
	&_logo
		margin-bottom 14px
		
		@media $smPlus
			margin-bottom 18px
		
		& > svg
			width 82px
			
			@media $smPlus
				width 109px
	
	&_title
		margin-bottom 21px
		font-weight bold
		font-size 26px
		color #fff
		
		@media $smPlus
			margin-bottom 27px
			font-size 34px
	
	&_description
		font-size 11px
		line-height 14px
		color #bababa
		
		@media $smPlus
			font-size 14px
			line-height 19px
		
		@media $mdPlus
			line-height 22px