.ContactsList
	display flex
	width 100%
	&_addresses
		background #0f1215
		flex 1
		@media $xs
			padding 18px 17px 3px 25px
		@media $sm
			display flex
			justify-content space-between
			padding 68px 40px 52px
			min-height 194px
		@media $md
			padding 37px 40px 18px 37px
		@media $lg
			padding 47px 60px 3px
	&_item
		font-style normal
		font-stretch normal
		line-height normal
		@media $xs
			padding-bottom 18px
		@media $sm
			min-width 30%
		@media $md
			padding-bottom 22px
		@media $lg
			padding-bottom 43px
	&_title
		color #43505e
		display block
		letter-spacing -.1px
		font-weight 400
		@media $xs
			font-size 10px
			padding-bottom 5px
		@media $sm
			font-size 12px
			padding-bottom 8px
		@media $md
			font-size 12px
			padding-bottom 8px
		@media $lg
			font-size 14px
			padding-bottom 11px
	&_value
		color #ffffff
		font-family 'SFUIDisplay'
		display block
		line-height 1.42
		@media $xs
			font-size 12px
		@media $sm
			font-size 12px
		@media $md
			font-size 12px
		@media $lg
			font-size 14px
	&_socialIcons
		background #ffd700
		display flex
		flex-direction column
		@media $xs
			width 60px
		@media $sm
			width 60px
		@media $md
			width 64px
		@media $lg
			width 80px
	&_socIco
		color mix(#d3b304, #000, 40%)
		flex 1
		display flex
		justify-content center
		align-items center
		& > .SvgIco, svg, g, path
			fill mix(#d3b304, #000, 40%)
			height 14px
			width auto

			& > path
				fill mix(#d3b304, #000, 40%)

		&-vc
			& > .SvgIco, svg, g, path
				height 19px
				width auto


	&_socDivider
		border-top 1px solid #d3b304
