.ContactUsError
	width 333px
	padding 30px 35px 34px
	border 1px solid #3383D2
	background #0165C7
	text-align center
	
	&_title
		margin-bottom 20px
		font-weight bold
		font-size 18px
		line-height normal
		font-family 'Gilroy', sans-serif
		color #FFF
	
	&_text
		font-size 16px
		line-height 1.5
		color #9FCCF8