.ContactsPageLayout
	$mdContactsBlockWidth = 397px
	$lgContactsBlockWidth = 502px
	$mdContactsBlockHeight = 257px
	$lgContactsBlockHeight = 361px
	
	$mdFormBlockHeight = 303px
	$lgFormBlockHeight = 361px

	@media $mdPlus
		height 100%
		position relative
	&_map,
	&_contacts,
	&_photo,
	&_form
		@media $mdPlus
			position absolute
	&_map
		background #0071e0
		position relative
		@media $xs
			height 194px
		@media $sm
			height 431px
		@media $md
			height "calc(100% - %s)" % $mdFormBlockHeight
			width "calc(100% - %s)" % $mdContactsBlockWidth
		@media $lg
			height "calc(100% - %s)" % $lgFormBlockHeight
			width "calc(100% - %s)" % $lgContactsBlockWidth
	&_contacts
		display flex
		@media $md
			width $mdContactsBlockWidth
			height $mdContactsBlockHeight
			top 0
			right 0
		@media $lg
			width $lgContactsBlockWidth
			height $lgContactsBlockHeight
			top 0
			right 0
	&_photo
		background url(/img/og-11.jpg) center no-repeat
		background-size cover
		@media $smMinus
			display none
		@media $md
			right 0
			bottom 0
			width $mdContactsBlockWidth
			height "calc(100% - %s)" % $mdContactsBlockHeight
		@media $lg
			width $lgContactsBlockWidth
			height "calc(100% - %s)" % $lgContactsBlockHeight
			bottom 0
			right 0
	&_form
		@media $md
			width "calc(100% - %s)" % $mdContactsBlockWidth
			height $mdFormBlockHeight
			left 0
			bottom 0
		@media $lg
			width "calc(100% - %s)" % $lgContactsBlockWidth
			height $lgFormBlockHeight
			bottom 0
			left 0