.CustomSlider
	height 100%
	&_inner
		height 100%
		background #0f1215
		z-index 0
		position relative
	
	&_shade
		position absolute
		top 0
		left 0
		bottom 0
		width 100%
		background-image linear-gradient(to bottom, rgba(15, 18, 21, .2), rgba(15, 18, 21, .8))
		opacity 0
		visibility hidden

	&_bgRenderer
		position absolute
		top 0
		left 0
		width 100%
		height 100%
		transform scale(1.05)
		transform-origin center
	&_progress
		position absolute
		bottom 0
		top 0
		left 0
		@media $xs
			display none
		@media $md
			top 26px
			bottom 26px
	&_progressRail
		background #fff
		width 2px
		height 100%
		position relative
	&_progressBar
		background #ffd700
		width 2px
		height 1%
		bottom 0
		position absolute
		will-change transform
		transform scaleY(0)
		transform-origin bottom left
	&_progressTitle,
	&_progressNum
		position absolute
		font-size 12px
		transform rotate(-90deg)
		padding-top 4px
		@media $lg
			padding-top 11px
	&_progressTitle
		bottom 0
		transform-origin top left
		margin-bottom -16px
		@media $lg
			margin-bottom -23px
	&_progressNum
		top 0

	&_headerBlock
		position absolute
		color #fff
		transform translateZ(0)
		pointer-events none
		z-index 1
		@media $xs
			bottom 10%
			left 6%
			max-width 260px
		@media $sm
			top 50%
			margin-top -128px
			left 5%
			height 256px
			max-width 508px
			padding-left 43px
		@media $md
			top 50%
			margin-top -150px
			left 4.6%
			padding-left 133px
			max-width 1000px
		@media $lg
			top 50%
			margin-top -150px
			left 4.3%
			max-width 1164px
			padding-left 168px
	&_title
		font-family "Gilroy"
		font-weight 700
		line-height 1
		position relative
		transform-origin left center
		@media $xs
			font-size 34px
			line-height 1.18
			letter-spacing -1.2px
		@media $sm
			font-size 80px
			letter-spacing -2.8px
			height 100%
		@media $smPlus
			display flex
			align-items center
		@media $md
			font-size 150px
			letter-spacing -5.3px
			min-height 300px
		@media $lg
			font-size 170px
			letter-spacing -6px
			line-height .88
			min-height 300px
	&_circBtn
		color #fff
		display flex
		align-items center
		&-n1
			z-index 10
			position absolute
			@media $xs
				left 6%
				margin-left -10px
				bottom 4px
			@media $sm
				left calc(5% + 44px)
				bottom 6.2%
			@media $md
				left calc(4.6% + 137px)
				bottom 8%
			@media $lg
				left calc(4.3% + 174px)
				bottom 8.5%
	&_circBtnTitle
		@media $xs
			display none
		@media $smPlus
			font-size 14px
			font-weight 500
			padding-right 14px
	&_circIcon
		width 40px
		height @width
		display flex
		justify-content center
		align-items center
		position relative
		@media $smPlus
			border 1px solid #fff
			border-radius 50%
		& > .SvgIco
			width 9px
			height auto
	&_animatedCircle
		position absolute
		top -1px
		right -1px
		width 42px
		height @width
	&_slideInfo
		position absolute
		opacity 0
		visibility hidden
		@media $xs
			display none
		@media $sm
			display none
		@media $md
			left calc(15% + 130px)
			bottom 8%
		@media $lg
			left calc(14% + 130px)
			bottom 8.5%
	&_infoItemsList
		display flex
		align-items center
		color #fff
	&_infoItem
		margin-left 61px
		font-size 14px
		&-pic
			height 40px