.FancyboxContainer
	&-contactUsError
		.FancyboxContainer_bg
			background #0165C7
			opacity 0.98
		
		.FancyboxContainer_close
			top 8px
			right 9px
			width 18px
			height 18px
			padding 0
			border 1px solid #3383d2
			color #FFF