.fancybox-container
	width auto
	right 0
	@media $sm
		left $smSidebarWidth
	@media $md
		left $mdSidebarWidth
	@media $lg
		left $lgSidebarWidth
.fancybox-container--underTopbar
	@media $xs
		top $xsTopbarHeight
		height auto
		bottom 0