.FeaturePromo
	text-align center
	&_title
		color #fff
		font-weight bold
		@media $xs
			font-size 24px
			font-weight bold
			line-height 1.29
			padding-bottom 16px
		@media $smPlus
			font-size 30px
			line-height 1.03
			padding-bottom 30px
		@media $lg
			font-size 34px
			line-height .91
		& > strong
			color #CCCCCC
	&_desc
		color #bababa
		@media $xs
			font-size 13px
			line-height 1.46
			
		@media $smPlus
			font-size 14px
			line-height 1.43
		& > p > strong
			color #ffd700
			font-weight inherit
	&_textWrap
		@media $sm
			padding 0 55px 55px
		@media $md
			padding 0 111px 43px
		@media $lg
			padding 0 261px 88px
	&_picWrap
		@media $xs
			display none
		@media $smPlus
			transform translateY(5px)