.FeatureText
	@media $xs
		padding-bottom 10px
		font-size 14px
		line-height 1.43
	@media $sm
		padding-bottom 32px
		font-size 14px
		line-height 1.43
	@media $mdPlus
		font-size 14px
		line-height 1.43
	& > h2
		font-family Gilroy
		font-weight bold
		@media $xs
			font-size 20px
			line-height 1.2
			margin-bottom 17px
			margin-top 30px
		@media $sm
			font-size 30px
			line-height 1.13
			margin-bottom 26px
			margin-top 40px
		@media $md
			font-size 28px
			line-height 1.15
			margin-bottom 26px
			margin-top 32px
		@media $lg
			margin-bottom 30px
			margin-top 60px
			font-size 30px
			line-height 1.13
	& > p,
	& > ul,
	& > blockquote
		margin-bottom 20px
	& > ul
		& > li
			padding-left 21px
			padding-bottom 20px
			position relative
			&:before
				content ""
				left 0
				top 9px
				position absolute
				width 10px
				height 2px
				background #ffd700
			&:last-child
				padding-bottom 0
	& > blockquote
		padding-left 20px
		border-left 2px solid #ffd700