.FeaturePageLayout
	@media $mdPlus
		height 100%
	/*@media $md
		min-height 648px*/
	@media $mdPlus
		display flex
		height 100%
	/*@media $lg
		min-height 940px*/
	&_primary,
	&_secondary
		@media $mdPlus
			height 100%
	&_primary
		background #1f1f1f
		overflow hidden
		@media $xs
			padding 60px 30px
		@media $sm
			padding 82px 40px 0
		@media $md
			padding 33vh 110px 0
		@media $lg
			padding 33vh 150px 0
	&_secondary
		background white
		@media $md
			width 346px
			min-width 346px
			position relative
		@media $lg
			width 500px
			min-width 500px
			position relative
			
	&_secondScroller
		@media $xs
			padding 32px 30px 0
		@media $sm
			padding 30px 129px 0
		@media $md
			padding 0 50px 60px
		@media $mdPlus
			overflow hidden
			height calc(100% - 60px)
			position relative
		@media $lg
			padding 0 72px 72px

	&_secondBottom
		@media $xs
			padding 0 30px 45px
		@media $sm
			padding 0 129px 70px
		@media $mdPlus
			position absolute
			bottom 0
			width 100%
			left 0