.FontStyleList
	display flex
	justify-content space-between
	
	&_item
		font-size 10px
		font-family 'Gilroy', sans-serif
		letter-spacing -0.2px
		color #4A5565
		
		@media $smPlus
			font-size 14px
		
		&-light
			font-weight 300
		
		&-regular
			font-weight 400
		
		&-medium
			font-weight 500
		
		&-semibold
			font-weight 600
		
		&-bold
			font-weight bold