.Footer
    min-height 122px
    background-color #0f1215
    padding 42px 40px
    display flex
    font-family 'Gilroy'
    color #fff
    position relative
    font-weight: 300
    letter-spacing: 0.2pt

    @media $mdMinus
        font-size 14px
    @media $xs
        flex-direction column
        padding 30px
        padding-bottom 18px
    &_left, &_right
        width 25%

        @media $smMinus
            width 30%
        
        @media $xs
            width 100%
            text-align center
    
    &_center
        width 50%
        display flex
        justify-content center

        @media $smMinus
            width 40%
        @media $xs
            width 100%
            text-align center
            order: -1
            margin-bottom 25px
    
    &_companyName
        margin-bottom 10px

        @media $xs
            margin-bottom 15px
    
    &_copy
        font-family: 'SFUIDisplay'
        font-size: 10px
        color #353e46
        text-transform uppercase

        @media $smMinus
            font-size 8px

        @media $xs
            font-size 10px

        &-mobile
            @media $smPlus
                display none !important
    
    &_phone, &_mail
        display block
        text-align right
        @media $xs
            text-align center
        &:hover
            text-decoration underline

    &_phone
        margin-bottom 10px

        @media $xs
            margin-bottom 15px
    &_mail
        font-family 'SFUIDisplay'
        color: #0071e0
        font-size 10px
        text-transform uppercase
        @media $smMinus
            font-size 8px
        
        @media $xs
            margin-bottom 25px
            font-size 10px

    &_toUp
        background url('../img/ui/up.svg') center/contain no-repeat
        width 25px
        height 25px
        position absolute
        top -2px
        transform translate(-50%, -50%)
        left 50%

    &_socials
        width 200px
        @media $smMinus
            width 180px

    &_socialList
        display flex
        justify-content space-between
        align-items center

    &_socialDesc
        text-transform uppercase
        font-size 10px
        font-family 'SFUIDisplay'
        color #353e46
        margin-top 10px
        text-align center
        @media $smMinus
            font-size 8px

    &_socialItem
        width 13px
        display block
        // padding 5px

        & svg, path
            fill: #fff
        &-fb
            width 8px

        &-behance
            width 19px

        &-vk
            width 18px

        &-vc
            width 15px

        & .SvgIco, svg
            width 100%
