.Form
	$xsBtnWidth = 60px
	$smBtnWidth = 60px
	$mdBtnWidth = 60px
	$lgBtnWidth = 80px
	&_title
		font-weight bold
		color #000
		@media $xs
			font-size 18px
			padding-bottom 20px
		@media $sm
			font-size 22px
			padding-bottom 27px
		@media $md
			font-size 22px
			padding-bottom 27px
		@media $lg
			font-size 32px
			padding-bottom 30px
	&_group
		position relative
		@media $xs
			margin-bottom 15px
		@media $smPlus
			margin-bottom 20px
	&_group-captcha
		display flex
		& > input
			margin-left 20px
	&_requiredMark
		content ''
		position absolute
		right 0
		bottom 0
		width 9px
		height @width
		border-bottom 1px solid #e36776
		border-right 1px solid #e36776
		pointer-events none
	
	&_reqHint
		position absolute
		letter-spacing -.1px
		color mix(#1f1f1f, #fff, 20%)
		font-weight 300
		padding-left 20px
		
		@media $xs
			font-size 12px
			bottom 30px
		@media $sm
			font-size 12px
			top 45px
			right 101px
		@media $md
			font-size 12px
			top 45px
			right 101px
		@media $lg
			font-size 14px
			top 61px
			right 120px
	
	&_reqHint > &_requiredMark
		left 0
		right auto
		top 50%
		margin-top -4px
	&_control
		display block
		width 100%
		color #000
		background-color #fff
		background-clip padding-box
		border solid 1px #d6d6d6
		transition border-color .15s
		box-shadow none
		letter-spacing -.1px
		@media $mdMinus
			font-size 12px
			padding 12px 20px
		@media $lg
			font-size 14px
			padding 16px 20px
		&:focus
			border-color #0071e0
			outline 0
		&:disabled,
		&[readonly]
			background-color #f8f9fa
			opacity 1
		&:placeholder
			color mix(#fff, #000, 40%)
			opacity 1
		&.error
			border-color #e36776
	&_control
		textarea&
			resize none

	&_lbLink
		float right
		font-size 87.5%
		font-weight 400
	&_checkbox
		user-select none
		position relative
		display inline-block
		min-height 1.5rem
		padding-left 1.5rem
	&_chkInpEl
		position absolute
		z-index -1
		opacity 0
	&_chkTitle
		vertical-align middle
		&:before
			top 5px
			left 0
			display block
			width 16px
			height 16px
			pointer-events none
			content ""
			user-select none
			border-radius 3px
			border 1px solid mix(#002864, #fff, 12%)
			background #fff center no-repeat
			background-size .5rem
			position absolute
	&_chkInpEl:focus + &_chkTitle:before
		box-shadow: 0 0 0 1px #f5f7fb, 0 0 0 2px rgba(70, 127, 207, .25)
	&_chkInpEl:checked + &_chkTitle:before
		background-color #467fcf
		background-image embedurl("../assets/img/checkmark.svg", "utf8")
	&_chkInpEl.error + &_chkTitle:before
		border-color $redTextColor
	&_chkInpEl.error:focus + &_chkTitle:before
		box-shadow 0 0 0 2px rgba(205, 32, 31, .25)
	&_hint
		position absolute
		font-size 12px
		top -14px
		right 0
		font-style normal
		&-error
			color #e36776
	&_success
		position absolute
		top 0
		left 0
		right 0
		bottom 0
		background #e05e4c
		display flex
		justify-content center
		align-items center
		@media $xs
			padding 0 10px
		@media $smMinus
			text-align center
		@media $sm
			left 60px
			padding 0 20px
	&_successTxt
		font-size 30px
		font-family Gilroy
		font-weight 600
		color #fff
	// START: contact us form
	&-contactUs
		position relative
		@media $xs
			display flex
			flex-direction column
			padding 28px 25px
		@media $sm
			padding 37px (40px + $smBtnWidth) 40px 40px
		@media $md
			height 100%
			padding 37px (40px + $mdBtnWidth) 40px 40px
		@media $lg
			height 100%
			padding 45px (40px + $lgBtnWidth) 40px 40px
	&-contactUs > &_layout
		@media $xs
			position relative
	&-contactUs > &_layout > &_group
		&-n1,
		&-n2,
		&-n4
			@media $smPlus
				float left
			@media $sm
				width calc(47% - 15px)
			@media $md
				width calc(43% - 20px)
			@media $lg
				width calc(30% - 20px)
		&-n3
			@media $xs
				order 3
			@media $smPlus
				float right
			@media $sm
				width calc(53% - 15px)
			@media $md
				width calc(57% - 20px)
			@media $lg
				width calc(70% - 20px)
			& > textarea
				@media $xs
					height 100px
				@media $sm
					height 177px
				@media $md
					height 177px
				@media $lg
					height 197px
		&-n4
			@media $xs
				order 4
		&-n5
			position absolute
			margin-bottom 0
			@media $xs
				right 0
				bottom 0
			@media $smPlus
				right 0
				top 0
				height 100%
		&-captcha
			@media $xs
				margin-right ($xsBtnWidth + 20px)
	
	&-contactUs > &_layout
		@media $xs
			padding-bottom 30px
			display flex
			flex-direction column

	&-contactUs > &_layout > &_group > &_btn
		background #e05e4c
		border 0
		&:hover
			color #fff
		@media $xs
			width 60px
			height 85px
		@media $sm
			width $smBtnWidth
			height 100%
		@media $md
			width $mdBtnWidth
			height 100%
		@media $lg
			width $lgBtnWidth
			height 100%
		& > .SvgIco-arrowRight
			width 11px
			height auto
	// END: contact us form