.GeoMap
	&,
	&:after
		position absolute
		top 0
		left 0
		right 0
		bottom 0
	&:after
		content ""
		z-index 10
		pointer-events none
		background-image linear-gradient(to left, rgba(0, 0, 0, .1), rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, .1))
		