.Header
    position absolute
    z-index 100
    left 0
    right 0
    @media $xs
        display none
    @media $sm
        left $smSidebarWidth
        top 42px
    @media $md
        left $mdSidebarWidth
        top 42px
    @media $lg
        left $lgSidebarWidth
        top 62px
    &_nav
        display flex
        @media $xs
            padding-right 15px
        @media $sm
            justify-content flex-end
            padding-right 34px
        @media $md
            padding-left calc(4.6% + 137px)
            padding-right 62px
        @media $lg
            padding-left calc(4.3% + 174px)
            padding-right 62px
           
    &_navLink
        color #fff
        display inline-block
        font-size 14px
        font-weight 500
        letter-spacing -.2px
        position relative
        @media $sm
            padding-left 20px
            margin-left 25px
        @media $mdPlus
            padding-left 30px
            margin-left 50px
        &:first-child
            margin-left 0
        &:last-child
            @media $mdPlus
                margin-left auto
        &:after
            content ""
            display block
            height 1px
            background-color #ffd700
            position absolute
            left 0
            top 50%
            @media $sm
                width 10px
            @media $mdPlus
                width 20px

