.LeafDesc
    font-family 'Gotham Pro'
    color #4b4b4c
    padding-left 40px
    position relative

    @media $xs
        padding-left 20px

    &:after
        content ''
        display block
        width 26px
        height 70px
        position absolute
        left 0
        top -10px
        background url('../img/serebrica/desc-leaf_green.svg') center/contain no-repeat

        @media $xs
            width 13px
            height 35px
            top -9px
    &_title
        font-size 20px
        font-weight 600
        margin-bottom 7px

        @media $xs
            font-size 14px

    &_desc
        font-weight 500
        @media $xs
            font-size 12px