.MacOSTab
	box-shadow 0 -10px 126px -6px rgba(0, 0, 0, .35)
	position relative
	z-index 5
	&_panel
		height 26px
		padding 0 11px
		background-color #fff
		border-radius 5px 5px 0 0
		display flex
		align-items center

		@media $smMinus
			padding 0 6px
			height 10px
	&_panelDot
		width 4px
		height 4px
		border-radius 50%
		margin-right 10px

		@media $smMinus
			width 2px
			height 2px
		&-yellow
			background-color #eeb84a
		&-red
			background-color #e76256
		&-green
			background-color #57bc49
	&_screen
		width 100%
		border-radius 0 0 5px 5px
		overflow hidden
		height auto
		display block

	&-grey
		& .MacOSTab_panel
			background-color #eeeeee
	&-black
		box-shadow 0 20px 50px 0 rgba(14, 23, 44, .15)
		
		@media $smPlus
			box-shadow 0 40px 130px 0 rgba(14, 23, 44, .25)
			
		& > .MacOSTab_panel
			height 8px
			border-radius 3px 3px 0 0
			background-color #1F1F1F
			
			@media $smPlus
				height 17px
			
			@media $mdPlus
				height 26px

	&_leaf
		width 237px
		position absolute
		top 30%
		z-index -1

		@media $smMinus
			width 160px

		@media $xs
			width 60px

		&-left
			width 340px
			left -22%
			@media $xs
				width 60px
				left -10%

		&-right
			right -18%
			@media $smMinus
				right -11%
	&_leafImg
		width 100%

	&_phone
		width 260px
		position absolute

		@media $smMinus
			width 137px

		@media $xs
			width 79px

		&-left
			left -130px
			top 30%

			@media $smMinus
				left -38px
			
			@media $xs
				left -15px
		
		&-right
			right -210px
			top 40%

			@media $mdMinus
				right -168px

			@media $smMinus
				right -38px

			@media $xs
				right -15px
	
	&_phoneImg
		width 100%