.Menu
    position absolute
    display none
    left 0
    top 0
    bottom 0
    right 0
    background #0071e0
    color #fff
    z-index 100
    user-select none
    margin 0 !important
    padding 0 !important
    &_inner
        height 100%
        @media $smMinus
            overflow auto
    &_grid
        height 100%
        @media $mdPlus
            display flex
    &_group
        display flex
        justify-content center
        overflow hidden
        @media $smMinus
            align-items center
            border-top 1px solid #0061c1
            min-height 20%
        @media $md
            padding-top calc(50vh - 74px)
        @media $mdPlus
            flex 1
            position relative
            border-right 1px solid #0061c1
        @media $lg
            padding-top calc(50vh - 78px)
    &_groupContent
        text-align center
        opacity 0
        transition all .3s
        @media $xs
            padding 33px 20px
        @media $smPlus
            padding 57px 20px
        @media $mdPlus
            margin-bottom auto
    &_groupHead
        position relative
    &_groupName
        font-family Gilroy
        position relative
        font-weight 600
        text-transform uppercase
        @media $xs
            font-size 18px
        @media $sm
            font-size 32px
        @media $md
            font-size 32px
        @media $lg
            font-size 42px
    &_groupNum
        position absolute
        top 50%
        left 50%
        transform translate(-50%, -50%)
        font-weight 800
        font-family 'Gilroy'
        @media $xs
            font-size 40px
            color mix(#0071e0, #fff, 90%)
        @media $sm
            font-size 106px
            color mix(#0071e0, #fff, 90%)
        @media $md
            font-size 106px
            color mix(#0071e0, #fff, 90%)
        @media $lg
            font-size 122px
            color mix(#0071e0, #fff, 90%)
            
    &_linksList
        font-size 14px
        display block
        @media $xs
            margin-top 13px
        @media $sm
            margin-top 38px
        @media $md
            padding-top 68px
        @media $lg
            padding-top 98px
        @media $smMinus
            display none
    &_item
        opacity 0
        font-family 'SFUIDisplay'
        @media $mdMinus
            padding-top 17px
        @media $lg
            padding-top 28px
    &_link
        @media $smPlus
            transition: color 0.3s;
            color mix(#0071e0, #fff, 50%)
        &:hover
            @media $smPlus
                color #fff
    &_groupContent-faded
        // opacity .3
    &_groupContent-active > &_linksList
        // display block