.MiniSlider
    position absolute
    border-radius 3px
    box-shadow 0 15px 60px 0 rgba(0, 0, 0, .5)
    cursor pointer
    z-index 10
    user-select none
    @media $xs
        width 240px
        height 130px
        right -175px
        bottom -11px
    @media $sm
        width 230px
        height 129px
        right 35px
        bottom 40px
    @media $md
        width 230px
        height 129px
        right 60px
        bottom 30px
    @media $lg
        width 240px
        height 139px
        bottom 60px
        right 80px
    &_slide
        background-size cover
    &_title
        color #fff
        position absolute
        bottom 21px
        left 20px
        max-width 140px
        font-size 14px
        font-weight 500
        letter-spacing -.2px
        line-height normal
        @media $xs
            display none
    &_btn
        position absolute
        right 20px
        bottom 20px
        width 40px
        height @width
        border-radius 50%
        background #fff
        border 0
        line-height 0
        padding 0
        display flex
        justify-content center
        align-items center
        z-index 10
        @media $xs
            display none
        & > .SvgIco-arrowRight
            width 5px