.NewKotelniki
	position relative
	padding 39px 0 0
	background #fff url('../img/bg_kotelniki.svg') 10px 10px / 97.2% auto no-repeat
	text-align center
	
	@media $smPlus
		padding 86px 0 0
		background-position 21px 23px
	
	@media $mdPlus
		padding 158px 0 0
		background-position 36px 42px
	
	@media $lg
		padding 225px 0 0
		background-position 55px 60px
	
	&_logo
		margin-bottom 4%
		
		@media $smPlus
			margin-bottom 40px
		
		@media $mdPlus
			margin-bottom 71px
		
	&_logoImg
		position relative
		width 42.5%
		margin-right 15px
		
		@media $smPlus
			width 263px
			margin-right 31px
		
		@media $mdPlus
			width 484px
			margin-right 59px
		
		@media $lg
			width 682px
			margin-right 79px
	
	&_screen
		position relative
		display block
		margin-right auto
		margin-left auto
		
		@media $smPlus
			width 600px
		
		@media $mdPlus
			width 910px
	
	&_screenImg
		display block
		width 100%