.Page
    min-height 100%
    overflow hidden

    &_title
        font-size 170px
        letter-spacing -6px
        font-family "Gilroy"
        font-weight 700
        line-height 1
        width 50%
    