.PageKotelniki
	position relative
	overflow hidden
	
	&_newKotelniki
		margin-bottom 37px
		
		@media $smPlus
			margin-bottom 77px
		
		@media $mdPlus
			margin-bottom 96px
		
		@media $lg
			margin-bottom 114px
	
	&_styling
		margin-bottom 40px
		
		@media $smPlus
			margin-bottom 68px
		
		@media $mdPlus
			margin-bottom 89px
		
		@media $lg
			margin-bottom 95px
	
	&_aboutKotelniki
		margin-bottom 33px
		
		@media $smPlus
			margin-bottom 61px
		
		@media $mdPlus
			margin-bottom 88px
		
		@media $lg
			margin-bottom 135px
	
	&_3dDevelopment
		margin-bottom 48px
		
		@media $smPlus
			margin-bottom 41px
		
		@media $mdPlus
			margin-bottom 80px
		
		@media $lg
			margin-bottom 122px
	
	&_arrowSection
		padding 82px 0 85px
		
		@media $smPlus
			padding 176px 0 197px
		
		@media $mdPlus
			padding 261px 0 210px
		
		@media $lg
			padding 216px 0 184px
	
	&_arrowPage
		margin-right auto
		margin-left auto