.ProjectDescription
	padding-top 27px
	
	&_container
		position relative
		max-width 640px
		
		@media $mdPlus
			max-width 950px
	
	&_columns
		display flex
		flex-direction column
		
		@media $smPlus
			flex-direction row
			justify-content flex-end
			align-items center
	
	&_col			
		&:first-child
			padding 0 40px
			
			@media $smPlus
				flex-basis 260px
				padding 0
			
			@media $mdPlus
				flex-basis 370px
		
		&:nth-child(2)
			@media $smPlus
				flex-basis 50%
	
	&_title
		position relative
		margin-bottom 20px
		padding-bottom 20px
		font 200 24px/normal 'Gilroy', sans-serif
		color #4A5565
		
		@media $smPlus
			margin-bottom 23px
			padding-bottom 24px
			font-size 30px
		
		@media $mdPlus
			padding-bottom 18px
			font-size 52px
		
		&:after
			content ""
			position absolute
			right 10px
			bottom 0
			left 10px
			height 1px
			background #EEE
			
			@media $smPlus
				right -35px
			
			@media $mdPlus
				right -85px
				left 17px
	
	&_text, &_additionalText
		position relative
		padding-right 20px
		
		@media $smPlus
			padding-right 0
		
		&, & > p
			font 14px/1.72 'SFUIDisplay', sans-serif
			color #8E97A3
			
			@media $mdPlus
				font-size 16px
				line-height 1.63
		
		& > p
			&:not(:last-child)
				margin-bottom 23px
	
	&_text
		margin-bottom 20px
		
		@media $smPlus
			margin-bottom 35px
		
		@media $mdPlus
			margin-bottom 23px
	
	&_additionalText
		position relative
		margin-bottom 30px
		padding-top 21px
		
		@media $smPlus
			padding-top 24px
		
		&:before
			content ""
			position absolute
			top 0
			right 10px
			left 10px
			height 1px
			background #EEE
			
			@media $smPlus
				right -35px
				left 17px
			
			@media $mdPlus
				right -85px
	
	&_imagesOverlay
		display flex
		flex-direction column
		align-items flex-end
		margin-bottom -50px
		padding-bottom 50px
		
		@media $smPlus
			margin-bottom -100px
			padding-bottom 100px
	
	&_topThumbnail, &_bottomThumbnail, &_toolImg
		box-shadow 0 20px 50px 0 rgba(14, 23, 44, 0.25)
		
		@media $smPlus
			box-shadow 0 40px 100px 0 rgba(14, 23, 44, 0.2)
	
	&_topThumbnail
		position relative
		z-index 1
		width 76.6%
		margin-right -18.9%
		margin-bottom -32.8%
		
		@media $smPlus
			width 147.479%
			margin-right -80.5%
			margin-bottom -51.6%
		
		@media $mdPlus
			width 121.573%
			margin-right -40.9%
			margin-bottom -55.8%
		
		@media $lg
			width 86.3%
			margin-right 0
			margin-bottom -42.5%
	
	&_bottomThumbnail
		position relative
		width 85.94%
		
		@media $smPlus
			width 156.845%
			margin-right -64.3%
		
		@media $mdPlus
			width 128.945%
			margin-right -34.1%
		
		@media $lg
			width 96.1%
			margin-right 0
	
	&_macOsTab
		box-shadow none
	
	&_img
		display block
		width 100%
	
	&_quote
		margin-right -20px
		margin-left -20px
		
		@media $smPlus
			margin-left 0
		
		@media $mdPlus
			margin-top -10px
	
	&_toolImg
		margin-bottom 44px
		
		@media $smPlus
			margin-bottom 109px
		
		@media $mdPlus
			margin-right 30px
			margin-bottom 52px
			margin-left -30px
		
		@media $lg
			margin-right 0
			margin-left 0
	
	&-aboutKotelniki
		background url('../img/bg_about_kotelniki_mobile.svg') 0 0 / 100% auto no-repeat
		
		@media $mdPlus
			padding 48px 0 0
			background url('../img/bg_about_kotelniki.svg') center 0 no-repeat
		
		.ProjectDescription_col
			&:first-child
				padding 0 20px
				
				@media $smPlus
					margin-top 19.2%
					margin-right 34px
					padding 0
				
				@media $mdPlus
					margin-top 12.1%
					margin-right 86px
				
				@media $lg
					margin-top 8.6%
					margin-right 85px
	
	&-reverse
		.ProjectDescription_columns
			flex-direction column-reverse
		
			@media $smPlus
				flex-direction row-reverse
		
		.ProjectDescription_col
			&:first-child
				@media $smPlus
					margin-bottom 2%
					margin-left 25px
				
				@media $mdPlus
					flex-basis 430px
					margin-bottom -10.7%
					margin-left 29px
				
				@media $lg
					margin-bottom -140px
					margin-left 87px
		
		.ProjectDescription_title
			&:after
				left -10px
				right -10px
				
				@media $smPlus
					left -28px
					right 9px
				
				@media $mdPlus
					right 19px
				
				@media $lg
					right 78px
					left -87px
		
		.ProjectDescription_text
			margin-right -15px
			padding-right 0
			
			@media $smPlus
				margin-right 0
			
			@media $mdPlus
				padding-right 10px
		
		.ProjectDescription_imagesOverlay
			margin-bottom -24px
			align-items flex-start
			
			@media $smPlus
				margin-bottom -74px
			
		.ProjectDescription_topThumbnail
			width 84.378%
			margin-bottom -24%
			margin-left -26.4%
			
			@media $smPlus
				width 162.59%
				margin-bottom -51.8%
				margin-left -95.8%
			
			@media $mdPlus
				width 133.59%
				margin-bottom -55.4%
				margin-left -52.8%
				box-shadow 0 40px 80px 0 rgba(14, 23, 44, 0.6)
			
			@media $lg
				width 94.8%
				margin-bottom -39.5%
				margin-left -8.4%
		
		.ProjectDescription_bottomThumbnail
			width 87.5%
			margin-left -1.5%
			
			@media $smPlus
				width 169.29%
				margin-left -76.3%
			
			@media $mdPlus
				width 139.19%
				margin-left -44.3%
			
			@media $lg
				width 98.8%
				margin-left -2.4%
	
	&-3dDevelopment
		position relative
		background url('../img/bg_3d_development_mobile.svg') 100% 649% no-repeat
		
		@media $smPlus
			margin-bottom -161px
			padding-bottom 200px
			background none
		
		@media $mdPlus
			padding-bottom 242px
		
		@media $lg
			margin-bottom -560px
			padding-bottom 680px
		
		&:after
			@media $smPlus
				content ""
				position absolute
				z-index -1
				right 0
				bottom -106px
				width 257px
				height 560px
				background url('../img/bg_3d_development.svg') 0 0 no-repeat
			
			@media $mdPlus
				bottom -66px
				width 427px
				height 603px
			
			@media $lg
				// bottom -506px
				width 692px
				height 1042px
		
		.ProjectDescription_text
			margin-bottom 28px
	
	&-center
		text-align center
	
	&-selectionTool
		position relative
		
		.ProjectDescription_title
			margin-bottom 30px
			padding-bottom 0
			letter-spacing -0.5px
			text-indent 5px
			
			@media $smPlus
				margin-bottom 40px
			
			@media $mdPlus
				margin-right 30px
				margin-bottom 49px
				margin-left -30px
				letter-spacing -1px
			
			@media $lg
				margin-left 34px
			
			&:after
				display none
		
		&:after
			content ""
			position absolute
			z-index -1
			bottom 0
			left 0
			width 100%
			padding-top 83.75%
			background-color #F3F5F9
			
			@media $mdPlus
				padding-top 67.75%
			
			@media $lg
				padding-top 60.05%
	
	&-calc, &-adaptive
		padding 29px 0 30px
		
		@media $smPlus
			padding 100px 0 30px
		
		@media $lg
			padding 119px 0 30px
		
		.ProjectDescription_col
			&:first-child
				@media $smPlus
					margin-bottom -10.8%
					margin-left 30px
				
				@media $mdPlus
					margin-bottom -8.6%
				
				@media $lg
					margin-bottom -109px
					margin-left 85px
		
		.ProjectDescription_title
			color #FFF
			
			&:after
				background #3E4347
		
		.ProjectDescription_text
			margin-right -23px
			
			@media $mdPlus
				margin-right 0
				padding-right 60px
			
			&, & > p
				color #64696C
		
		.ProjectDescription_topThumbnail
			margin-bottom -18.5%
			
			@media $smPlus
				margin-bottom -55.8%
			
			@media $lg
				margin-bottom -39.5%
	
	&-adaptive
		@media $smPlus
			padding-top 84px
			
		@media $mdPlus
			padding-top 199px
		
		@media $lg
			padding-top 180px
		
		.ProjectDescription_columns
			@media $smPlus
				justify-content stretch
				max-width 588px
				margin-right auto
				margin-left auto
			
			@media $mdPlus
				max-width 912px
			
		.ProjectDescription_col
			&:first-child
				@media $smPlus
					flex-basis 50%
					margin-bottom 0
					margin-left 0
		
		.ProjectDescription_title
			&:after
				@media $smPlus
					right 0
					left 17px
		
		.ProjectDescription_text
			padding-right 0
			
			@media $smPlus
				margin-bottom 31px
				padding-right 55px