.Quote
	position relative
	max-width 280px
	border-radius 9px
	box-shadow 0 20px 50px 0 rgba(14, 23, 44, 0.15)
	background #FFF
	
	@media $smPlus
		max-width 260px
		box-shadow 0 40px 130px 0 rgba(14, 23, 44, 0.25)
	
	@media $mdPlus
		max-width 378px
	
	&_img
		display block