.Sidebar
    background #0071e0
    color #fff
    position fixed
    top 0
    left 0
    bottom 0
    z-index 200
    display flex
    flex-direction column
    justify-content space-between
    align-items center
    padding 38px 0
    transition all .3s

    &:after
        content ''
        position absolute
        left 0
        top 0
        width 0
        height 100%
        background-color #fff
        transition all .6s ease
        z-index -1
    @media $xs
        display none
    @media $sm
        width $smSidebarWidth
    @media $md
        width $mdSidebarWidth
    @media $lg
        width $lgSidebarWidth
    &_logoLink
        display block
        width 19px
        color inherit !important
    &_burgerWrap
        padding-bottom 24px

    &_burgerIco
        width 100%
        height 100%
        position relative

    &_burgerIcoRotate
        position absolute
        width 100%
        height 100%
        will-change transform

    &_burgerIcoStatic
        position absolute
        left 0
        right 0
        bottom 0
        top 0
        &-active
            & .Sidebar_burgerIcoStaticDot
                opacity 0
                transition 0.8s
                will-change transform
                &-left
                    left -10px
                &-right
                    right -10px
                &-top
                    top -10px
                &-bottom
                    bottom -10px

    &_burgerIcoRotateDot
        width 3px
        height 3px
        background-color #fff
        position absolute
        transition .3s
        &-left-top
            left 0
            top 0
        &-right-top
            right 0
            top 0
        &-center
            top 8px
            left 8px
            @media $sm
                top 6px
                left 6px
        &-left-bottom
            left 0
            bottom 0

        &-right-bottom
            right 0
            bottom 0
    
    &_burgerIcoStaticDot
        width 3px
        height 3px
        background-color #fff
        position absolute
        transition .8s
        &-left
            top 8px
            left 0
            @media $sm
                top 6px
        &-right
            right 0
            top 8px
            @media $sm
                top 6px
        &-top
            top 0
            left 8px
            @media $sm
                left 6px

        &-bottom
            left 8px
            bottom 0
            @media $sm
                left 6px
    &_burgerButton
        background none
        padding 4px
        border 0
        display block
        line-height 0
        color inherit !important
        outline-color transparent
        @media $sm
            width (15px + @padding * 2)
            height (15px + @padding * 2)
        @media $mdPlus
            width (19px + @padding * 2)
            height (19px + @padding * 2)
    &-inverted
        color #0071e0
        &:after
            width 100%
        & .Sidebar_burgerIcoStaticDot
            background-color #0071e0
        & .Sidebar_burgerIcoRotateDot
            background-color #0071e0
