.Smartphones
	padding 40px 0 0
	background url('../img/bg_smartphones.svg') center center no-repeat
	
	@media $smPlus
		padding-top 53px
		background-position center 57%
	
	@media $mdPlus
		padding-top 113px
		background-position center bottom
	
	@media $lg
		background-size 100% auto
	
	&_container
		display flex
		max-width 577px
		padding 0
		
		@media $mdPlus
			max-width 874px
	
	&_col
		width 50%
		
		&:nth-child(2)
			margin-top -100px
			
			@media $smPlus
				margin-top -155px
			
				.Smartphones_img
					margin-right 16px
			
			@media $mdPlus
				margin-top -243px
				
				.Smartphones_img
					margin-right -8px
	
	&_thumbnail
		position relative
		display flex
		flex-direction column
		align-items center
		margin-bottom 27px
		padding 0 10px 50px
		
		@media $smPlus
			margin-bottom 15px
			padding-bottom 70px
			padding-left 20px
		
		@media $mdPlus
			margin-bottom 64px
			padding-right 16px
			padding-left 14px
		
		&:last-child
			margin-bottom -50px
	
	&_img
		max-width 102.8%
		border-radius 11%
		box-shadow 0 20px 50px 0 rgba(14, 23, 44, 0.3)
		
		@media $smPlus
			max-width 83.6%
			box-shadow 0 40px 70px 0 rgba(14, 23, 44, 0.3)