.SocialNets
    position absolute
    top 50%
    margin-top -124px
    z-index 10
    @media $xs
        right 15px
    @media $sm
        right 34px
    @media $md
        right 62px
    @media $lg
        right 62px
    &_list
        display flex
        flex-direction column
    &_item
        @media $xs
            margin-top 44px
        @media $smPlus
            margin-top 44px
        &:first-child
            margin-top 0
    &_link
        line-height 1
        display inline-block
        position relative
        @media $xs
            padding-right 6px
        @media $smPlus
            padding-right 14px
        &:after
            content ''
            width 1px
            position absolute
            right 0
            top 0
            bottom 0
        &-facebook
            &:after
                background-color #1359ad
        &-behance
            &:after
                background-color #1490d9
        &-medium
            &:after
                background-color #2ec890

        &-vc
            &:after
                background-color #FEEBEF
    &_textSVG
        display inline-block
        height auto
        @media $xs
            width 9px
        @media $smPlus
            width 11px