.SocIcons
	&_list
		display flex
	
	&_item
		height 74px
		border-bottom 1px solid #b84d3f
		@media $lg
			height 104px
		
		&:not(:last-child)
			border-right 1px solid #b84d3f
		
		&-fb
			flex-basis 23.58%
			
			@media $lg
				flex-basis 129px
		
			.SocIcons_link > svg
				width 7px
				height 16px
				
				@media $lg
					width 10px
					height 19px
		
		&-telegram
			flex-basis 25.5%
		
			.SocIcons_link > svg
				width 14.7px
				height 12.8px
				
				@media $lg
					width 21px
					height 18px
		
		&-vk
			flex-basis 26.3%
			
			@media $lg
				flex-basis 25.1%
		
			.SocIcons_link > svg
				width 17.2px
				height 10.1px
				
				@media $lg
					width 25px
					height 15px
		
		&-instagram
			flex-basis 24.92%
		
			.SocIcons_link > svg
				width 14px
				height 13px
				
				@media $lg
					width 18px
					height 18px
	
	&_link
		display flex
		height 100%
		justify-content center
		align-items center
		transition all .3s
		
		& > svg, path
			opacity 0.6
			fill currentColor
		
		&:hover
			background #FFF