.Styling
	&_container
		position relative
		max-width 464px
		padding-bottom 41px
		
		@media $smPlus
			padding-bottom 81px
		
		@media $mdPlus
			display flex
			max-width 902px
			padding-bottom 42px
		
		@media $lg
			padding-bottom 51px
		
		&:after
			content ""
			position absolute
			right 30px
			bottom 0
			left 30px
			height 1px
			background #EEE
			
			@media $smPlus
				right -10%
				left -10%
			
			@media $mdPlus
				right 12px
				left 12px
		
	&_col
		position relative
		padding 0 26px
		
		@media $mdPlus
			width 50%
			
			&:first-child
				padding-right 35px
		
			&:nth-child(2)
				padding-left 33px
	
	&_subtitle
		position relative
		margin-bottom 13px
		padding-bottom 16px
		font 300 16px 'Gilroy', sans-serif
		color #4A5565
		
		@media $smPlus
			margin-bottom 41px
			padding-bottom 21px
			font-size 20px
		
		&:after
			content ""
			position absolute
			right -17px
			bottom 0
			left -17px
			height 1px
			background #EEE
			
			@media $smPlus
				left -24.2%
				right -24.2%
			
			@media $mdPlus
				left -9.2%
				right -9.2%
	
	&_fontName
		margin-bottom 19px
		font bold 30px 'Gilroy', sans-serif
		letter-spacing -0.6px
		color #4A5565
		
		@media $smPlus
			margin-bottom 25px
			font-size 50px
			letter-spacing -1px
			text-indent 2px
	
	&_fontStyleList
		margin-bottom 20px
		
		@media $smPlus
			margin-bottom 30px
	
	&_gradient
		margin-bottom 37px
	
	&_colors
		margin 20px 0 0
		
		@media $smPlus
			margin 51px 0 0