.SwiperEmployees	
	&_photo
		display flex
		justify-content center
		align-items flex-end
		height 414px
		max-height calc(100vh - 234px)
		background-repeat no-repeat
		background-size cover
		background-position: top center;
		@media $lg
			height 579px
			max-height calc(100vh - 362px)	
	
	&_img
		max-width 299px
		max-height 91%
		
		@media $lg
			max-width 419px
	
	&_info
		display flex
		flex-direction column
		justify-content center
		flex-grow 1
		height 160px
		padding 0 20px 0 112px
		font-weight bold
		font-family 'Gilroy'
		background #FFF
		color #1F1F1F
		//Убрать нижние два свойства, если нужно вернуть слайдер
		padding-left 20px
		height 105px
		@media $lg
			height 256px
			padding 0 20px 0 167px
	
	&_post
		margin-top -7px
		margin-bottom 20px
		font-size 15px
		opacity 0.6
		
		@media $lg
			margin-top -8px
			margin-bottom 31px
			font-size 16px
			letter-spacing 0.3px
	
	&_name
		font-size 18px
		text-transform uppercase
		letter-spacing -0.02em
		
		@media $lg
			font-size 21px
	
	&_bottom
		position relative
	
	&_arrows
		position absolute
		z-index 1
		top -160px
		border-right 1px solid #d8d8d8
		
		@media $lg
			top -256px
	
	&_prev, &_next
		position relative
		top 0
		display flex
		justify-content center
		align-items center
		width 80px
		height 80px
		margin 0
		outline none
		background #fff
		
		@media $lg
			width 126px
			height 129px
	
	&_prev
		left 0
		border-bottom 1px solid #d8d8d8
	
	&_next
		right 0