.Thesis
	position relative
	padding-right 30px
	padding-left 30px
	background #1F1F1F
	overflow hidden
	
	&_main
		margin-bottom 38px
		
		@media $smPlus
			display flex
			align-items flex-start
			margin-bottom 162px
		
		@media $mdPlus
			margin-bottom 97px
		
		@media $lg
			margin-bottom 114px
	
	&_header
		display flex
		margin-bottom 26px
		font-size 15px
		font-family: 'Gilroy'
		
		@media $smPlus
			flex-basis 253px
			padding-top 4px
			padding-left 18px
		
		@media $mdPlus
			justify-content center
			padding 6px 39px 0 0
			flex-basis 51.4%
			font-size 16px
		
		@media $lg
			flex-basis 38.8%
	
	&_number
		position relative
		margin-right 11px
		padding-right 10px
		color #3A3A3A
		
		&:after
			content ""
			position absolute
			top 0
			right 0
			width 2px
			height 100%
			background #3A3A3A
	
	&_title
		font-weight bold
		color #FFF
	
	&_body
		position relative
		font-size 13px
		line-height 1.54
		color #BABABA
		
		@media $smPlus
			flex-basis 328px
			flex-grow 1
			padding-right 15px
			font-size 14px
			line-height 1.58
		
		@media $mdPlus
			padding-right 95px
			font-size 16px
			line-height 1.5
		
		@media $lg
			padding-right 155px
	
	&_keyword
		font-weight 600
		color #FFF
	
	&_photos
		position relative
		z-index 1
		display flex
	
	&_photos-list
		display flex
		justify-content flex-end
		margin-left -30px
		overflow hidden
		
		@media $smPlus
			margin-right 20px
		
		@media $mdPlus
			margin-right 97px
		
		@media $lg
			margin-right 159px

	&_photos-listFull
		width 80%
		display block
		@media $smMinus
			width 100%
	
	&_photo
		& > img
			max-width none
			max-height 200px
			
			@media $smPlus
				max-height 350px
			
			@media $lg
				max-height 500px
		
		&:not(:last-child)
			margin-right 7px
			
			@media $smPlus
				margin-right 13px
			
			@media $lg
				margin-right 18px

	
	&_photoFull
		width 100%
		max-height none
	
	&_caption
		position absolute
		right -12px
		bottom 80px
		background-image linear-gradient(to right, #ffffff, #6b6b6b)
		background-clip text
		font-weight 600
		font-size 8px
		font-family 'Gilroy'
		-webkit-text-fill-color transparent
		transform rotate(-90deg)
		
		@media $smPlus
			right -8px
			bottom 168px
			font-size 10px
		
		@media $mdPlus
			right 0
			bottom 180px
		
		@media $lg
			bottom 214px
		
		&:after
			content ""
			position absolute
			top -66px
			right -80px
			width 6px
			height 141px
			background-image: linear-gradient(to top, #3a3a3a 0, #3a3a3a 13px, #1f1f1f 13px, #1f1f1f 17px, #2b2b2b 17px, #2b2b2b 94px, #1f1f1f 94px, #1f1f1f 98px, #252525 98px, #252525 115px, #1f1f1f 115px, #1f1f1f 119px, #2b2b2b 119px, #2b2b2b 123px, #1f1f1f 123px, #1f1f1f 127px, #2b2b2b 127px, #2b2b2b 129px, #1f1f1f 129px, #1f1f1f 133px, #2b2b2b 133px, #2b2b2b 135px, #1f1f1f 135px, #1f1f1f 139px, #2b2b2b 139px, #2b2b2b 141px)
			transform rotate(90deg)
			
			@media $smPlus
				width 8px
	
	&_logos
		display flex
		position relative
		@media $xs
			margin-left -24px
			margin-right -24px
		@media $smPlus
			flex-grow 1
		&:after,
		&:before
			content ''
			position absolute
			top -50%
			bottom -50%
			width 33.333%
			border-left 1px solid mix(#1f1f1f, #35d9f4, 10%)
			border-right @border-left
			pointer-events none
		&:before
			left 0
		&:after
			left 66.666%
	
	&_logoCol
		display flex
		flex-direction column
		align-items center
		flex-basis 0
		flex-grow 1
		
		@media $xs
			padding-left 24px
			padding-right @padding-left
		@media $sm
			padding-left 32px
			padding-right @padding-left
		@media $md
			padding-left 32px
			padding-right @padding-left
		@media $lg
			padding-left 54px
			padding-right @padding-left
		&:not(:nth-child(2))
			padding-top 44px
			
			@media $smPlus
				padding-top 138px
			
			@media $lg
				padding-top 240px
	&_logoPic
		display inline-block
		width 100%
		max-width 140px
			
	&_logo
		&:not(:last-child)
			margin-bottom 50px
			
			@media $smPlus
				margin-bottom 78px
			
			@media $lg
				margin-bottom 133px
	
	&-blueant
		padding-top 50px
		padding-bottom 63px
		
		@media $smPlus
			padding-bottom 186px
		
		@media $mdPlus
			padding-top 99px
			padding-bottom 150px
		
		@media $lg
			padding-bottom 185px
		
		.Thesis_header
			position relative
			
			&:before
				content ""
				position absolute
				top -56px
				left -30px
				width 56px
				height 15px
				background-image: linear-gradient(to right, #252525 22px, #1f1f1f 34px)
				
				@media $smPlus
					top 87px
					left 33px
					width 124px
					height 31px
					background-image: linear-gradient(to right, #252525 53px, #1f1f1f 53px)
				
				@media $mdPlus
					top 86px
					left 131px
		
		.Thesis_photos
			&:before
				@media $smPlus
					content ""
					position absolute
					z-index -1
					top 59px
					left -30px
					width 98px
					height 31px
					background-image: linear-gradient(to right, #323232 27px, #2b2b2b 27px)
				
				@media $mdPlus
					top 38px
					left 70px
				
				@media $lg
					top 117px
					left 105px
		
		&:after, .Thesis_body:after
			content ""
			position absolute
			width 47px
			height 15px
			background-image: linear-gradient(to right, #2b2b2b 34px, #252525 13px)
			
			@media $smPlus
				width 98px
				height 31px
				background-image: linear-gradient(to right, #2b2b2b 72px, #252525 13px)
		
		&:after
			right 0
			bottom 29px
			left 6px
			margin 0 auto
			
			@media $smPlus
				bottom 67px
				left -189px
			
			@media $mdPlus
				bottom 52px
				left -241px
			
			@media $lg
				bottom 139px
				left -440px
		
		.Thesis_body:after
			right 12px
			bottom -15px
			
			@media $smPlus
				right 62px
				bottom -102px
			
			@media $mdPlus
				bottom -50px
			
			@media $lg
				right 216px
				bottom -76px
	
	&-creature
		margin-bottom -41px
		
		@media $smPlus
			margin-bottom -111px
		
		@media $lg
			margin-bottom -146px
		
		.Thesis_body:after
			content ""
			position absolute
			bottom -24px
			left 21px
			width 47px
			height 15px
			background-image: linear-gradient(to left, #2b2b2b 34px, #323232 13px)
			
			@media $smPlus
				bottom -47px
				left -171px
				width 98px
				height 31px
				background-image: linear-gradient(to left, #2b2b2b 71px, #323232 27px)
			
			@media $mdPlus
				bottom -2px
				left -281px
			
			@media $lg
				bottom -68px
				left -333px
		
		.Thesis_main
			@media $mdPlus
				margin-bottom 117px
			
			@media $lg
				margin-bottom 162px
	
	&-development
		margin-bottom -36px
		padding-top 104px
		
		@media $smPlus
			margin-bottom -135px
			padding-top 276px
		
		@media $mdPlus
			margin-bottom -125px
			padding-top 261px
		
		@media $lg
			margin-bottom -148px
			padding-top 326px
		
		.Thesis_body
			@media $smPlus
				padding-right 60px
			
			@media $mdPlus
				padding-right 100px
			
			@media $lg
				padding-right 160px
		
		.Thesis_main
			@media $smPlus
				margin-bottom 140px
			
			@media $mdPlus
				margin-bottom 103px
			
			@media $lg
				margin-bottom 114px
	
	&-help
		margin-bottom -33px
		padding-top 99px
		
		@media $smPlus
			margin-bottom -96px
			padding-top 300px
		
		@media $mdPlus
			padding-top 275px
		
		@media $lg
			margin-bottom -146px
			padding-top 333px
		
		.Thesis_main
			@media $mdPlus
				margin-bottom 127px
			
			@media $lg
				margin-bottom 138px
		
		&:before, .Thesis_body:after
			content ""
			width 47px
			height 15px
			background-image: linear-gradient(to right, #2b2b2b 34px, #252525 13px)
			
			@media $smPlus
				height 31px
		
		&:before
			position absolute
			top 63px
			left 0
			
			@media $smPlus
				top 192px
				left 30px
				width 98px
				background-image: linear-gradient(to right, #2b2b2b 71px, #252525 71px)
			
			@media $mdPlus
				left 101px
			
			@media $lg
				top 252px
				left 135px
		
		.Thesis_body:after
			display inline-block
			margin-top 3px
			margin-left 28px
			vertical-align middle
			
			@media $smPlus
				position absolute
				right 60px
				bottom -88px
				width 124px
				margin 0
				background-image: linear-gradient(to right, #252525 53px, #1f1f1f 53px)
			
			@media $mdPlus
				right 143px
				bottom -85px
			
			@media $lg
				right 367px
				bottom -83px
		
		.Thesis_caption
			right -35px
			bottom 96px
			
			@media $smPlus
				right -39px
				bottom 181px
			
			@media $mdPlus
				right -31px
				bottom 196px
			
			@media $lg
				bottom 245px
	
	&-logos
		padding-top 96px
		padding-bottom 30px
		
		@media $smPlus
			padding-top 126px
			padding-bottom 44px
		
		@media $lg
			padding-top 210px
			padding-bottom 58px
		
		.Thesis_main
			margin-bottom 0
		
		.Thesis_header
			margin-bottom 40px
			
			@media $smPlus
				padding-top 124px
			
			@media $mdPlus
				flex-basis 42.4%
				padding-right 0
			
			@media $lg
				flex-basis 33%
	
	&-right
		.Thesis_photos
			justify-content flex-end
		
		.Thesis_photos-list
			justify-content flex-start
			margin-right -30px
			margin-left 0
			
			@media $smPlus
				margin-left 20px
			
			@media $mdPlus
				margin-left 130px
			
			@media $lg
				margin-left 164px
	
	&-yellow
		background #FFD700
		
		&:before
			content ""
			position absolute
			top 71px
			right 61px
			width 47px
			height 15px
			background-image: linear-gradient(to right, #f9d200 34px, #c6a803 13px)
			
			@media $smPlus
				top 181px
				right 84px
				width 98px
				height 31px
				background-image: linear-gradient(to right, #f9d200 71px, #c6a803 71px)
			
			@media $mdPlus
				right 76px
			
			@media $lg
				top 251px
				right 156px
		
		.Thesis_number
			color #CDAD00
			
			&:after
				background #CDAD00
		
		.Thesis_title
			color #1F1F1F
		
		.Thesis_body
			color #857100
			
			&:after
				content ""
				position absolute
				bottom -9px
				left 2px
				width 34px
				height 15px
				background-image: linear-gradient(to right, #f9d200 21px, #c6a803 21px)
				
				@media $smPlus
					bottom -15px
					left -193px
					width 98px
					height 31px
					background-image: linear-gradient(to right, #c3a606 27px, #f3cd02 27px)
				
				@media $mdPlus
					bottom 13px
					left -383px
				
				@media $lg
					bottom -55px
					left -433px
		
		.Thesis_keyword
			color #1F1F1F
	
	&-blue
		background #35D9F4
		
		.Thesis_number
			color #2CC1D9
			
			&:after
				background #2CC1D9
		
		.Thesis_title
			color #1F1F1F