.Topbar
    background #0071e0
    position fixed
    left 0
    right 0
    height $xsTopbarHeight
    top 0
    z-index 200
    padding-left 20px
    display flex
    align-items center
    color #fff
    @media $smPlus
        display none
    &_cell
        min-width 42px
        &-logoWrap
            margin-right auto
    &_burger
        height $xsTopbarHeight
        width $xsTopbarHeight
        color #fff
        background #0f1215
        border 0
        padding 20px
        line-height 0
        & > .SvgIco > .SvgIco_path-hideable
            transition all .3s
        &-close
            background #fff
            color #0f1215
            & > .SvgIco > .SvgIco_path-hideable
                opacity 0
    &_icoLink
        padding 6px
        & > .SvgIco
            height 14px
    &_logoLink
        display flex
        align-items center
    &_logoText
        font-size 10px
        line-height 1
        letter-spacing .1px
        color #ffffff
        font-family "Gilroy", sans-serif
        padding-left 6px
    &_logoPic
        height 22px
        width auto
    &-inverted
        background #0f1215