footer.Footer
    .Footer_left
        .Footer_companyName Синий Муравей
        .Footer_copy.hidden-xs © 2010-2018 ООО «Синий муравей»
    .Footer_center
        .Footer_socials
            .Footer_socialList
                a.Footer_socialItem.Footer_socialItem-fb(href="https://www.facebook.com/vbblueant/", target="_blank")
                    include ./SvgIco/facebook.svg
                //- a.Footer_socialItem.Footer_socialItem-telegram(href="#")
                //-     include ./SvgIco/paperPlane.svg
                a.Footer_socialItem.Footer_socialItem-vc(href="https://vc.ru/u/177381-ivan-kuksin" target="_blank")
                    include /includes/svg/socials/vc.svg
                a.Footer_socialItem.Footer_socialItem-insta(href="https://www.instagram.com/blue_ant_3d/", target="_blank" title="Instagram")
                    include ./SvgIco/instagram.svg
                a.Footer_socialItem.Footer_socialItem-behance(href="https://www.behance.net/blue-ant", target="_blank" title="Instagram")
                    include ./SvgIco/behance.svg

            .Footer_socialDesc.hidden-xs Мы в соц. сетях
            
    .Footer_right
        a.Footer_phone(href="tel:+74957551214") +7 495 755-12-14
        a.Footer_mail(href="mailto:Info@blue-ant.ru") Info@blue-ant.ru
        .Footer_copy.Footer_copy-mobile © 2010-2018 ООО «Синий муравей»

    .Footer_toUp.JsToUp