.MiniSlider.swiper-container
	.MiniSlider_track.swiper-wrapper
		.MiniSlider_slide.swiper-slide(style="background-image: url('/img/slides/slide_2/thumb.jpg')")
			h5.MiniSlider_title Новые#[br]Котельники

		.MiniSlider_slide.swiper-slide(style="background-image: url('/img/slides/slide_3/thumb.jpg')")
			h5.MiniSlider_title Серебрица

		.MiniSlider_slide.swiper-slide(style="background-image: url('/img/slides/slide_1/thumb.jpg')")
			h5.MiniSlider_title Серебрянный Фонтан
	div.MiniSlider_btn
		include SvgIco/arrowRight.svg