aside.Sidebar
    .Sidebar_logoWrap
        a.Sidebar_logoLink(href="/")
            include ./SvgIco/logo.svg
    .Sidebar_burgerWrap
        button.Sidebar_burgerButton
            .Sidebar_burgerIco
                .Sidebar_burgerIcoRotate
                    .Sidebar_burgerIcoRotateDot.Sidebar_burgerIcoRotateDot-left-top
                    .Sidebar_burgerIcoRotateDot.Sidebar_burgerIcoRotateDot-right-top
                    .Sidebar_burgerIcoRotateDot.Sidebar_burgerIcoRotateDot-center
                    .Sidebar_burgerIcoRotateDot.Sidebar_burgerIcoRotateDot-left-bottom
                    .Sidebar_burgerIcoRotateDot.Sidebar_burgerIcoRotateDot-right-bottom
                .Sidebar_burgerIcoStatic
                    .Sidebar_burgerIcoStaticDot.Sidebar_burgerIcoStaticDot-left
                    .Sidebar_burgerIcoStaticDot.Sidebar_burgerIcoStaticDot-top
                    .Sidebar_burgerIcoStaticDot.Sidebar_burgerIcoStaticDot-bottom
                    .Sidebar_burgerIcoStaticDot.Sidebar_burgerIcoStaticDot-right
    .Sidebar_langWrap
        .LangSwitch EN