.SocialNets
    ul.SocialNets_list
        li.SocialNets_item
            a.SocialNets_link.SocialNets_link-facebook(href="https://www.facebook.com/vbblueant/", target="_blank")
                <svg class="SocialNets_textSVG" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 9 45"><text fill="#FFF" fill-rule="evenodd" font-family="AvenirNext" font-size="10" letter-spacing=".2" transform="rotate(-90 5 22.5)"><tspan x="-17.5" y="25.5">facebook</tspan></text></svg>
        li.SocialNets_item
            a.SocialNets_link.SocialNets_link-vc(href="https://vc.ru/u/177381-ivan-kuksin" target="_blank")
                <svg class="SocialNets_textSVG" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 9 39"><text fill="#FFF" fill-rule="evenodd" font-family="AvenirNext" font-size="10" letter-spacing=".2" transform="rotate(-90 2 15)"><tspan x="-15" y="22">vc.ru</tspan></text></svg>
        li.SocialNets_item
            a.SocialNets_link.SocialNets_link-behance(href="https://www.behance.net/blue-ant" target="_blank")
                <svg class="SocialNets_textSVG" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 9 41"><text fill="#FFF" fill-rule="evenodd" font-family="AvenirNext" font-size="10" letter-spacing=".2" transform="rotate(-90 5 20)"><tspan x="-16" y="23">behance</tspan></text></svg>
