header.Topbar
    .Topbar_cell.Topbar_cell-logoWrap
        a.Topbar_logoLink(href="/")
            img.Topbar_logoPic(src="/img/logo_white.svg" alt="LOGO")
            h6.Topbar_logoText Синий#[br]муравей
    .Topbar_cell
        a.Topbar_icoLink(href="#")
            include ./SvgIco/envelope.svg
    .Topbar_cell
        a.Topbar_icoLink(href="#")
            include ./SvgIco/phone.svg
    .Topbar_cell-burgerWrap
        button.Topbar_burger
            include ./SvgIco/burgerMenu.svg