<svg class="SvgIco" viewBox="0 0 10 19" xmlns="http://www.w3.org/2000/svg"><path class="SvgIco_path" d="M6.143 18.06H2.006V9.64H0V6.345h2.006V4.393C2.006 1.586 3.259 0 6.519 0h2.758v3.417H7.522c-1.254 0-1.38.366-1.38 1.22v1.708h3.135L8.9 9.64H6.143v8.42z"/></svg>